<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mod-4-Project---Starter-Notebook" data-toc-modified-id="Mod-4-Project---Starter-Notebook-1">Mod 4 Project - Starter Notebook</a></span></li><li><span><a href="#Some-Notes-Before-Starting" data-toc-modified-id="Some-Notes-Before-Starting-2">Some Notes Before Starting</a></span><ul class="toc-item"><li><span><a href="#Wide-Format-vs-Long-Format" data-toc-modified-id="Wide-Format-vs-Long-Format-2.1">Wide Format vs Long Format</a></span></li></ul></li><li><span><a href="#Helper-Functions-Provided" data-toc-modified-id="Helper-Functions-Provided-3">Helper Functions Provided</a></span></li><li><span><a href="#Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes" data-toc-modified-id="Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes-4">Step 1: Load the Data/Filtering for Chosen Zipcodes</a></span></li><li><span><a href="#Step-2:-Data-Preprocessing" data-toc-modified-id="Step-2:-Data-Preprocessing-5">Step 2: Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Convert-time-data-type-to-datetime-format" data-toc-modified-id="Convert-time-data-type-to-datetime-format-5.1">Convert time data type to datetime format</a></span></li><li><span><a href="#Fix-problem-with-ZIP-codes-beginning-with-'0'" data-toc-modified-id="Fix-problem-with-ZIP-codes-beginning-with-'0'-5.2">Fix problem with ZIP codes beginning with '0'</a></span></li><li><span><a href="#Creating-US-dataframe-(df_melt)-using-melt-function" data-toc-modified-id="Creating-US-dataframe-(df_melt)-using-melt-function-5.3">Creating US dataframe (df_melt) using melt function</a></span><ul class="toc-item"><li><span><a href="#Creating-new-column,-MetroState,-to-address-duplicate-metro-names-in-different-states-(e.g.,-Aberdeen-in-multiple-states)" data-toc-modified-id="Creating-new-column,-MetroState,-to-address-duplicate-metro-names-in-different-states-(e.g.,-Aberdeen-in-multiple-states)-5.3.1">Creating new column, MetroState, to address duplicate metro names in different states (e.g., Aberdeen in multiple states)</a></span></li></ul></li></ul></li><li><span><a href="#Step-3A:--Exploratory-Data-Analysis--Creating-dataframes-of-values-by-different-geographic-units" data-toc-modified-id="Step-3A:--Exploratory-Data-Analysis--Creating-dataframes-of-values-by-different-geographic-units-6">Step 3A:  Exploratory Data Analysis--Creating dataframes of values by different geographic units</a></span><ul class="toc-item"><li><span><a href="#Creating-US-dataframes" data-toc-modified-id="Creating-US-dataframes-6.1">Creating US dataframes</a></span><ul class="toc-item"><li><span><a href="#Creating-df_metro-(US-metro-df)-with-monthly-values-by-Zip" data-toc-modified-id="Creating-df_metro-(US-metro-df)-with-monthly-values-by-Zip-6.1.1">Creating df_metro (US metro df) with monthly values by Zip</a></span></li><li><span><a href="#Creating-df_metro_cities-(US-Metros-df-with-City-mean-values)" data-toc-modified-id="Creating-df_metro_cities-(US-Metros-df-with-City-mean-values)-6.1.2">Creating df_metro_cities (US Metros df with <em>City</em> mean values)</a></span></li><li><span><a href="#Creating-df_metro_values-(US-Metros-df-with-Metro-mean-values)" data-toc-modified-id="Creating-df_metro_values-(US-Metros-df-with-Metro-mean-values)-6.1.3">Creating df_metro_values (US Metros df with <em>Metro</em> mean values)</a></span></li></ul></li><li><span><a href="#Function-for-creating-a-dataframe-based-on-particular-geographic-unit-(e.g.,-MetroState-area,-City,-CountyName)" data-toc-modified-id="Function-for-creating-a-dataframe-based-on-particular-geographic-unit-(e.g.,-MetroState-area,-City,-CountyName)-6.2">Function for creating a dataframe based on particular geographic unit (e.g., MetroState area, City, CountyName)</a></span></li><li><span><a href="#Creating-Sacramento-Metro-dataframes" data-toc-modified-id="Creating-Sacramento-Metro-dataframes-6.3">Creating Sacramento Metro dataframes</a></span><ul class="toc-item"><li><span><a href="#df_sac:--Sac-Metro-dataframe,-values-by-Zip-code" data-toc-modified-id="df_sac:--Sac-Metro-dataframe,-values-by-Zip-code-6.3.1">df_sac:  Sac Metro dataframe, values by Zip code</a></span></li><li><span><a href="#df_metro_sac:--Sacramento,-CA-metro-area-values-dataframe" data-toc-modified-id="df_metro_sac:--Sacramento,-CA-metro-area-values-dataframe-6.3.2">df_metro_sac:  Sacramento, CA metro area values dataframe</a></span></li></ul></li></ul></li><li><span><a href="#Step-3B:--Creating-lists-and-dictionaries-for-iterating-through-dataframes" data-toc-modified-id="Step-3B:--Creating-lists-and-dictionaries-for-iterating-through-dataframes-7">Step 3B:  Creating lists and dictionaries for iterating through dataframes</a></span><ul class="toc-item"><li><span><a href="#Function-to-print-first-n-number-of-items-in-a-dictionary" data-toc-modified-id="Function-to-print-first-n-number-of-items-in-a-dictionary-7.1">Function to print first n number of items in a dictionary</a></span></li><li><span><a href="#Search-metro-area-by-str.contains" data-toc-modified-id="Search-metro-area-by-str.contains-7.2">Search metro area by str.contains</a></span></li><li><span><a href="#dict_cities_one_metro:--Function-to-create-dictionary-of-cities-in-one-metro-area" data-toc-modified-id="dict_cities_one_metro:--Function-to-create-dictionary-of-cities-in-one-metro-area-7.3">dict_cities_one_metro:  Function to create dictionary of cities in one metro area</a></span></li><li><span><a href="#US-lists-and-dictionaries" data-toc-modified-id="US-lists-and-dictionaries-7.4">US lists and dictionaries</a></span><ul class="toc-item"><li><span><a href="#Create-df-with-just-the-first-date-entry-for-each-zip-code" data-toc-modified-id="Create-df-with-just-the-first-date-entry-for-each-zip-code-7.4.1">Create df with just the first date entry for each zip code</a></span></li><li><span><a href="#Creating-list-of-unique-metro-areas-(metro_state_list)" data-toc-modified-id="Creating-list-of-unique-metro-areas-(metro_state_list)-7.4.2">Creating list of unique metro areas (metro_state_list)</a></span></li><li><span><a href="#Create-ordict_zips_sizerank-(dictionary-of-zip-codes-and-size-ranks)" data-toc-modified-id="Create-ordict_zips_sizerank-(dictionary-of-zip-codes-and-size-ranks)-7.4.3">Create ordict_zips_sizerank (dictionary of zip codes and size ranks)</a></span></li><li><span><a href="#Create-dict_sizerank_zips-(dictionary-of-size-ranks-and-zip-codes--keys:values-reversed-from-previous-dictionary)" data-toc-modified-id="Create-dict_sizerank_zips-(dictionary-of-size-ranks-and-zip-codes--keys:values-reversed-from-previous-dictionary)-7.4.4">Create dict_sizerank_zips (dictionary of size ranks and zip codes--keys:values reversed from previous dictionary)</a></span></li><li><span><a href="#Creating-dict_metrostate_zips-(dictionary-with-zips-per-unique-metro-area-(MetroState))" data-toc-modified-id="Creating-dict_metrostate_zips-(dictionary-with-zips-per-unique-metro-area-(MetroState))-7.4.5">Creating dict_metrostate_zips (dictionary with zips per unique metro area (MetroState))</a></span></li><li><span><a href="#Creating-ordict_num_metro_zip_counts_sorted-(dictionary-reverse-sorting-of-number-of-zip-codes-in-a-unique-metro-area)" data-toc-modified-id="Creating-ordict_num_metro_zip_counts_sorted-(dictionary-reverse-sorting-of-number-of-zip-codes-in-a-unique-metro-area)-7.4.6">Creating ordict_num_metro_zip_counts_sorted (dictionary reverse-sorting of number of zip codes in a unique <em>metro area</em>)</a></span></li><li><span><a href="#Creating-dict_allcities_zips-(zips-for-each-city)" data-toc-modified-id="Creating-dict_allcities_zips-(zips-for-each-city)-7.4.7">Creating dict_allcities_zips (zips for each city)</a></span></li><li><span><a href="#Creating-ordict_allcities_zips-(ordered-dictionary-of-zips-by-city,-sorted-by-city-name)" data-toc-modified-id="Creating-ordict_allcities_zips-(ordered-dictionary-of-zips-by-city,-sorted-by-city-name)-7.4.8">Creating ordict_allcities_zips (ordered dictionary of zips by city, sorted by city name)</a></span></li><li><span><a href="#Create-ordict_num_city_zips_sorted-(dictionary-reverse-sorting-counts-of-zip-codes-by-city)" data-toc-modified-id="Create-ordict_num_city_zips_sorted-(dictionary-reverse-sorting-counts-of-zip-codes-by-city)-7.4.9">Create ordict_num_city_zips_sorted (dictionary reverse-sorting <em>counts</em> of zip codes by city)</a></span></li><li><span><a href="#Creating-dict_metro_size-(dictionary-of-metro-areas-and-number-of-data-points-(proxy-for-size-of-metro-area))" data-toc-modified-id="Creating-dict_metro_size-(dictionary-of-metro-areas-and-number-of-data-points-(proxy-for-size-of-metro-area))-7.4.10">Creating dict_metro_size (dictionary of metro areas and number of data points (proxy for size of metro area))</a></span><ul class="toc-item"><li><span><a href="#Creating-dictionary-object-of-dict_metro_size" data-toc-modified-id="Creating-dictionary-object-of-dict_metro_size-7.4.10.1">Creating dictionary object of dict_metro_size</a></span></li><li><span><a href="#Creating-list--(list-of-tuples)-from-dict_metro_size-object" data-toc-modified-id="Creating-list--(list-of-tuples)-from-dict_metro_size-object-7.4.10.2">Creating list  (list of tuples) from dict_metro_size object</a></span></li><li><span><a href="#Creating-list-of-tuples-of-the-thirty-largest-metro-areas" data-toc-modified-id="Creating-list-of-tuples-of-the-thirty-largest-metro-areas-7.4.10.3">Creating list of tuples of the thirty largest metro areas</a></span></li><li><span><a href="#Creating-list-from-[0]-index-in-each-tuple" data-toc-modified-id="Creating-list-from-[0]-index-in-each-tuple-7.4.10.4">Creating list from [0] index in each tuple</a></span></li><li><span><a href="#Creating-list-of-tuples-of-the-fifty-largest-metro-areas" data-toc-modified-id="Creating-list-of-tuples-of-the-fifty-largest-metro-areas-7.4.10.5">Creating list of tuples of the fifty largest metro areas</a></span></li><li><span><a href="#Creating-list-from-[0]-index-in-each-tuple" data-toc-modified-id="Creating-list-from-[0]-index-in-each-tuple-7.4.10.6">Creating list from [0] index in each tuple</a></span></li></ul></li><li><span><a href="#Creating-dict_metro_cities-(dictionary-of-MetroState-areas-and-cities-within-each)" data-toc-modified-id="Creating-dict_metro_cities-(dictionary-of-MetroState-areas-and-cities-within-each)-7.4.11">Creating dict_metro_cities (dictionary of MetroState areas and cities within each)</a></span><ul class="toc-item"><li><span><a href="#List-of-metro-cities" data-toc-modified-id="List-of-metro-cities-7.4.11.1">List of metro cities</a></span></li><li><span><a href="#Creating-dict_metro_cities-(dictionary-of-metro-areas-and-the-cities-in-each)" data-toc-modified-id="Creating-dict_metro_cities-(dictionary-of-metro-areas-and-the-cities-in-each)-7.4.11.2">Creating dict_metro_cities (dictionary of metro areas and the cities in each)</a></span></li><li><span><a href="#Creating-dict_sorted_metro_cities-(dictionary-of-metro-areas,-sorted-from-largest-to-smallest,-and-the-cities-in-each)" data-toc-modified-id="Creating-dict_sorted_metro_cities-(dictionary-of-metro-areas,-sorted-from-largest-to-smallest,-and-the-cities-in-each)-7.4.11.3">Creating dict_sorted_metro_cities (dictionary of metro areas, sorted from largest to smallest, and the cities in each)</a></span></li></ul></li><li><span><a href="#Steps-for-creating-list-of-cities-in-a-metro-area,-sorted-from-largest-to-smallest-in-terms-of-#-of-zip-codes-in-city" data-toc-modified-id="Steps-for-creating-list-of-cities-in-a-metro-area,-sorted-from-largest-to-smallest-in-terms-of-#-of-zip-codes-in-city-7.4.12">Steps for creating list of cities in a metro area, sorted from largest to smallest in terms of # of zip codes in city</a></span></li><li><span><a href="#city_metro_list-function-creating-a-dataframe-AND-a-list-of-cities-in-a-metro-area,-sorted-from-largest-to-smallest" data-toc-modified-id="city_metro_list-function-creating-a-dataframe-AND-a-list-of-cities-in-a-metro-area,-sorted-from-largest-to-smallest-7.4.13">city_metro_list function creating a dataframe AND a list of cities in a metro area, sorted from largest to smallest</a></span></li></ul></li><li><span><a href="#Sacramento-lists-and-dictionaries" data-toc-modified-id="Sacramento-lists-and-dictionaries-7.5">Sacramento lists and dictionaries</a></span><ul class="toc-item"><li><span><a href="#Creating-sac_metro_cities-list-from-df_sac" data-toc-modified-id="Creating-sac_metro_cities-list-from-df_sac-7.5.1">Creating sac_metro_cities list from df_sac</a></span></li><li><span><a href="#Creating-sac_metro_zips-list-from-zips-in-Sac-Metro-area" data-toc-modified-id="Creating-sac_metro_zips-list-from-zips-in-Sac-Metro-area-7.5.2">Creating sac_metro_zips list from zips in Sac Metro area</a></span></li><li><span><a href="#Creating-sac_metro_cty-list-from-df_sac" data-toc-modified-id="Creating-sac_metro_cty-list-from-df_sac-7.5.3">Creating sac_metro_cty list from df_sac</a></span></li><li><span><a href="#Creating-dict_zips_cities-dictionary-to-graph-zips-by-city" data-toc-modified-id="Creating-dict_zips_cities-dictionary-to-graph-zips-by-city-7.5.4">Creating dict_zips_cities dictionary to graph zips by city</a></span></li><li><span><a href="#Creating-sacto_zips-(list-of-zip-codes-in-City-Sacramento)" data-toc-modified-id="Creating-sacto_zips-(list-of-zip-codes-in-City-Sacramento)-7.5.5">Creating sacto_zips (list of zip codes in City Sacramento)</a></span></li></ul></li></ul></li><li><span><a href="#Step-3C:-Visualization-functions--plotting-time-series-values" data-toc-modified-id="Step-3C:-Visualization-functions--plotting-time-series-values-8">Step 3C: Visualization functions--plotting time series values</a></span><ul class="toc-item"><li><span><a href="#Plotting-function:--plot_ts-(based-on-James-Irving's-study-group)" data-toc-modified-id="Plotting-function:--plot_ts-(based-on-James-Irving's-study-group)-8.1">Plotting function:  plot_ts (based on James Irving's study group)</a></span></li><li><span><a href="#Plotting-function:--plot_single_geog-function-(plots-a-single-geographic-unit)" data-toc-modified-id="Plotting-function:--plot_single_geog-function-(plots-a-single-geographic-unit)-8.2">Plotting function:  plot_single_geog function (plots a single geographic unit)</a></span></li><li><span><a href="#Plot-function:--plot_ts_metros()" data-toc-modified-id="Plot-function:--plot_ts_metros()-8.3">Plot function:  plot_ts_metros()</a></span><ul class="toc-item"><li><span><a href="#Plotting-top-30-metro-areas" data-toc-modified-id="Plotting-top-30-metro-areas-8.3.1">Plotting top 30 metro areas</a></span></li></ul></li><li><span><a href="#Plotting-function:---plot_ts_cities-(plot-values-by-city)" data-toc-modified-id="Plotting-function:---plot_ts_cities-(plot-values-by-city)-8.4">Plotting function:   plot_ts_cities (plot values by city)</a></span></li><li><span><a href="#Plotting-function:--plot_ts_metro_cities-(metro-area-by-city)" data-toc-modified-id="Plotting-function:--plot_ts_metro_cities-(metro-area-by-city)-8.5">Plotting function:  plot_ts_metro_cities (metro area by city)</a></span><ul class="toc-item"><li><span><a href="#Plotting-city-values-in-Sacramento-CA-metro-area" data-toc-modified-id="Plotting-city-values-in-Sacramento-CA-metro-area-8.5.1">Plotting city values in Sacramento CA metro area</a></span></li></ul></li><li><span><a href="#Plot-function:--plot_ts_zips-(plots-individual-zip-codes-in-a-list-provided-to-the-function)" data-toc-modified-id="Plot-function:--plot_ts_zips-(plots-individual-zip-codes-in-a-list-provided-to-the-function)-8.6">Plot function:  plot_ts_zips (plots individual zip codes in a list provided to the function)</a></span></li><li><span><a href="#Plotting-function:--plot_single_geog-function:--plots-a-single-geographic-unit" data-toc-modified-id="Plotting-function:--plot_single_geog-function:--plots-a-single-geographic-unit-8.7">Plotting function:  plot_single_geog function:  plots a single geographic unit</a></span></li><li><span><a href="#Plotting-function:--plot_ts_zips_by_city-(Metro-area-cities-with-zip-codes)" data-toc-modified-id="Plotting-function:--plot_ts_zips_by_city-(Metro-area-cities-with-zip-codes)-8.8">Plotting function:  plot_ts_zips_by_city (Metro area cities with zip codes)</a></span></li><li><span><a href="#Plotting-Sacramento-values-by-zip-code,-grouped-by-city-or-within-a-city" data-toc-modified-id="Plotting-Sacramento-values-by-zip-code,-grouped-by-city-or-within-a-city-8.9">Plotting Sacramento values by zip code, grouped by city or within a city</a></span><ul class="toc-item"><li><span><a href="#Plots-of-zip-codes-in-City-of-Sacramento" data-toc-modified-id="Plots-of-zip-codes-in-City-of-Sacramento-8.9.1">Plots of zip codes in City of Sacramento</a></span></li><li><span><a href="#Plotting-cities-and-zip-codes-within-Sacramento-Metro-area" data-toc-modified-id="Plotting-cities-and-zip-codes-within-Sacramento-Metro-area-8.9.2">Plotting cities and zip codes within Sacramento Metro area</a></span></li><li><span><a href="#Creating-df_sac_mo_city-(monthly-values-by-City)" data-toc-modified-id="Creating-df_sac_mo_city-(monthly-values-by-City)-8.9.3">Creating df_sac_mo_city (monthly values by <em>City</em>)</a></span></li><li><span><a href="#Plotting-value-by-city-in-Sacto-Metro-area" data-toc-modified-id="Plotting-value-by-city-in-Sacto-Metro-area-8.9.4">Plotting value by city in Sacto Metro area</a></span></li></ul></li><li><span><a href="#Boxplots" data-toc-modified-id="Boxplots-8.10">Boxplots</a></span><ul class="toc-item"><li><span><a href="#Plotting-boxplots-for-each-city-in-Sacto-Metro-region" data-toc-modified-id="Plotting-boxplots-for-each-city-in-Sacto-Metro-region-8.10.1">Plotting boxplots for each city in Sacto Metro region</a></span></li><li><span><a href="#Plotting-boxplots-for-each-zip-in-Sac-Metro,-by-city" data-toc-modified-id="Plotting-boxplots-for-each-zip-in-Sac-Metro,-by-city-8.10.2">Plotting boxplots for each zip in Sac Metro, by city</a></span></li><li><span><a href="#Violin-plot-for-Sacramento-city-zip-codes" data-toc-modified-id="Violin-plot-for-Sacramento-city-zip-codes-8.10.3">Violin plot for Sacramento city zip codes</a></span></li><li><span><a href="#Line-plot-for-Davis,-CA,-marking-height-of-market-bubble,-drop-of-housing-index-on-national-level,-and-min-for-Davis-post-crash" data-toc-modified-id="Line-plot-for-Davis,-CA,-marking-height-of-market-bubble,-drop-of-housing-index-on-national-level,-and-min-for-Davis-post-crash-8.10.4">Line plot for Davis, CA, marking height of market bubble, drop of housing index on national level, and min for Davis post crash</a></span></li></ul></li></ul></li><li><span><a href="#Step-3D:--Visualizations" data-toc-modified-id="Step-3D:--Visualizations-9">Step 3D:  Visualizations</a></span><ul class="toc-item"><li><span><a href="#Set-ts-=-zip-code-for-initial-test" data-toc-modified-id="Set-ts-=-zip-code-for-initial-test-9.1">Set ts = zip code for initial test</a></span></li><li><span><a href="#Creating-ACF-and-PACF-plots" data-toc-modified-id="Creating-ACF-and-PACF-plots-9.2">Creating ACF and PACF plots</a></span></li><li><span><a href="#Seasonal-Decomposition" data-toc-modified-id="Seasonal-Decomposition-9.3">Seasonal Decomposition</a></span></li></ul></li><li><span><a href="#Step-4:--ARIMA-Modeling" data-toc-modified-id="Step-4:--ARIMA-Modeling-10">Step 4:  ARIMA Modeling</a></span><ul class="toc-item"><li><span><a href="#Creating-p,-d,-q,-and-m-values-for-running-ARIMA-model" data-toc-modified-id="Creating-p,-d,-q,-and-m-values-for-running-ARIMA-model-10.1">Creating p, d, q, and m values for running ARIMA model</a></span></li><li><span><a href="#Setting-up-functions-for-running-ARIMA-models" data-toc-modified-id="Setting-up-functions-for-running-ARIMA-models-10.2">Setting up functions for running ARIMA models</a></span></li><li><span><a href="#Function-to-find-best-p,d,q-parameters-for-ARIMA-model" data-toc-modified-id="Function-to-find-best-p,d,q-parameters-for-ARIMA-model-10.3">Function to find best p,d,q parameters for ARIMA model</a></span></li></ul></li><li><span><a href="#Step-5:-Interpreting-Results" data-toc-modified-id="Step-5:-Interpreting-Results-11">Step 5: Interpreting Results</a></span><ul class="toc-item"><li><span><a href="#Create-ARIMA-model-and-show-summary-results-table" data-toc-modified-id="Create-ARIMA-model-and-show-summary-results-table-11.1">Create ARIMA model and show summary results table</a></span></li><li><span><a href="#Create-forecast-model" data-toc-modified-id="Create-forecast-model-11.2">Create forecast model</a></span></li><li><span><a href="#Create-dataframe-to-hold-these-values-and-join-to-existing-dataframe" data-toc-modified-id="Create-dataframe-to-hold-these-values-and-join-to-existing-dataframe-11.3">Create dataframe to hold these values and join to existing dataframe</a></span></li><li><span><a href="#Create-df_new-with-historical-and-forecasted-values" data-toc-modified-id="Create-df_new-with-historical-and-forecasted-values-11.4">Create df_new with historical and forecasted values</a></span></li><li><span><a href="#Plot-forecast-results" data-toc-modified-id="Plot-forecast-results-11.5">Plot forecast results</a></span></li><li><span><a href="#Figure-out-percent-change-in-home-values" data-toc-modified-id="Figure-out-percent-change-in-home-values-11.6">Figure out percent change in home values</a></span></li><li><span><a href="#Compute-and-print-predicted,-best,-and-worst-case-scenarios" data-toc-modified-id="Compute-and-print-predicted,-best,-and-worst-case-scenarios-11.7">Compute and print predicted, best, and worst case scenarios</a></span></li></ul></li><li><span><a href="#Dallas-Fort-Worth-TX-Metro-Area:--FUNCTIONS-to-run" data-toc-modified-id="Dallas-Fort-Worth-TX-Metro-Area:--FUNCTIONS-to-run-12">Dallas-Fort Worth TX Metro Area:  FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-12.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#Dallas-Fort-Worth-TX" data-toc-modified-id="Dallas-Fort-Worth-TX-12.2">Dallas-Fort Worth TX</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-12.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-12.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-12.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#plot_ts_metros:--Plot-values-by-Metro-area" data-toc-modified-id="plot_ts_metros:--Plot-values-by-Metro-area-12.2.2.2">plot_ts_metros:  Plot values by Metro area</a></span></li><li><span><a href="#plot_ts_metro_cities:--Plot-values-by-Metro-area-AND-city" data-toc-modified-id="plot_ts_metro_cities:--Plot-values-by-Metro-area-AND-city-12.2.2.3">plot_ts_metro_cities:  Plot values by Metro area AND city</a></span></li><li><span><a href="#plot_ts_cities:--Plot-values-by-CITY-in-a-Metro-area" data-toc-modified-id="plot_ts_cities:--Plot-values-by-CITY-in-a-Metro-area-12.2.2.4">plot_ts_cities:  Plot values by <em>CITY</em> in a Metro area</a></span></li><li><span><a href="#Function-to-plot-individual-zip-codes-within-a-city" data-toc-modified-id="Function-to-plot-individual-zip-codes-within-a-city-12.2.2.5">Function to plot individual zip codes within a city</a></span></li><li><span><a href="#Function-to-plot-zip-codes-by-city-in-a-metro-area" data-toc-modified-id="Function-to-plot-zip-codes-by-city-in-a-metro-area-12.2.2.6">Function to plot zip codes by city in a metro area</a></span></li><li><span><a href="#Function-to-plot-zip-codes-by-Metro-area" data-toc-modified-id="Function-to-plot-zip-codes-by-Metro-area-12.2.2.7">Function to plot zip codes by Metro area</a></span></li><li><span><a href="#Boxplot-by-city-in-a-metro-area" data-toc-modified-id="Boxplot-by-city-in-a-metro-area-12.2.2.8">Boxplot by city in a metro area</a></span></li><li><span><a href="#Boxplot-of-zip-codes-by-city-in-a-metro-area" data-toc-modified-id="Boxplot-of-zip-codes-by-city-in-a-metro-area-12.2.2.9">Boxplot of zip codes by city in a metro area</a></span></li><li><span><a href="#Violin-plots-over-time-(example)" data-toc-modified-id="Violin-plots-over-time-(example)-12.2.2.10">Violin plots over time (example)</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-12.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-12.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-12.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-12.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-12.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-12.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-12.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-12.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-12.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-12.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-12.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-12.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-12.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li></ul></li><li><span><a href="#SacMetro:-95619----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:-95619----FUNCTIONS-to-run-13">SacMetro: 95619 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-13.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95619-(Diamond-Springs)" data-toc-modified-id="SacMetro:--95619-(Diamond-Springs)-13.2">SacMetro:  95619 (Diamond Springs)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-13.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-13.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-13.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-13.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-13.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-13.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-13.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-13.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-13.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-13.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-13.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-13.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-13.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-13.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-13.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-13.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-13.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Recommendation--Zip-code-95619:--potential-investment-candidate" data-toc-modified-id="Recommendation--Zip-code-95619:--potential-investment-candidate-13.5">Recommendation--Zip code 95619:  potential investment candidate</a></span></li></ul></li><li><span><a href="#SacMetro:-95864----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:-95864----FUNCTIONS-to-run-14">SacMetro: 95864 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-14.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95864-(Arden-Arcade)" data-toc-modified-id="SacMetro:--95864-(Arden-Arcade)-14.2">SacMetro:  95864 (Arden-Arcade)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-14.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-14.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-14.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-codes-by-city-in-a-metro-area" data-toc-modified-id="Boxplot-of-zip-codes-by-city-in-a-metro-area-14.2.2.2">Boxplot of zip codes by city in a metro area</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-14.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-14.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-14.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-14.3.1">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-14.3.2">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-14.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-14.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-14.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-14.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-14.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-14.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-14.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Recommendation-for-ZIP-code-95864:--Don't-invest" data-toc-modified-id="Recommendation-for-ZIP-code-95864:--Don't-invest-14.5">Recommendation for ZIP code 95864:  Don't invest</a></span></li></ul></li><li><span><a href="#SacMetro:--95831----FUNCTIONS-to-run-for-each-geographic-area" data-toc-modified-id="SacMetro:--95831----FUNCTIONS-to-run-for-each-geographic-area-15">SacMetro:  95831 -- FUNCTIONS to run for each geographic area</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-15.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95831-(Sacramento)" data-toc-modified-id="SacMetro:--95831-(Sacramento)-15.2">SacMetro:  95831 (Sacramento)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-15.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-15.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-15.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-15.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-15.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-15.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-15.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-15.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-15.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-15.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-15.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-15.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-15.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-15.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-15.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-15.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-15.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li><li><span><a href="#Zip-code-95831:--don't-invest;-lots-of-downside-risk" data-toc-modified-id="Zip-code-95831:--don't-invest;-lots-of-downside-risk-15.4.7">Zip code 95831:  don't invest; lots of downside risk</a></span></li></ul></li></ul></li><li><span><a href="#SacMetro:--96142----FUNCTIONS-to-run-for-each-geographic-area" data-toc-modified-id="SacMetro:--96142----FUNCTIONS-to-run-for-each-geographic-area-16">SacMetro:  96142 -- FUNCTIONS to run for each geographic area</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-16.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--96142-(Tahoma)" data-toc-modified-id="SacMetro:--96142-(Tahoma)-16.2">SacMetro:  96142 (Tahoma)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-16.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-16.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-16.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-16.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-16.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-16.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-16.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-16.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-16.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-16.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-16.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-16.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-16.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-16.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-16.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-16.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-16.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li><li><span><a href="#Zip-code-96142:--Potentially-solid-gains,-with-possibly-large-upside-or-downside" data-toc-modified-id="Zip-code-96142:--Potentially-solid-gains,-with-possibly-large-upside-or-downside-16.4.7">Zip code 96142:  Potentially solid gains, with possibly large upside or downside</a></span></li></ul></li></ul></li><li><span><a href="#SacMetro:--95811----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--95811----FUNCTIONS-to-run-17">SacMetro:  95811 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-17.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95811-(Sacramento)" data-toc-modified-id="SacMetro:--95811-(Sacramento)-17.2">SacMetro:  95811 (Sacramento)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-17.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-17.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-17.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-17.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-17.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-17.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-17.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-17.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-17.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-17.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-17.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-17.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-17.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-17.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-17.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-17.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-17.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li><li><span><a href="#Zip-code-95811:--Don't-invest--mediocre-predicted-returns-with-significant-potential-downside-(but-also-significant-potential-upside)" data-toc-modified-id="Zip-code-95811:--Don't-invest--mediocre-predicted-returns-with-significant-potential-downside-(but-also-significant-potential-upside)-17.4.7">Zip code 95811:  Don't invest--mediocre predicted returns with significant potential downside (but also significant potential upside)</a></span></li></ul></li></ul></li><li><span><a href="#SacMetro:--95818----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--95818----FUNCTIONS-to-run-18">SacMetro:  95818 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-18.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95818-(Sacramento)" data-toc-modified-id="SacMetro:--95818-(Sacramento)-18.2">SacMetro:  95818 (Sacramento)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-18.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-18.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-18.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-18.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-18.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-18.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-18.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-18.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-18.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-18.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-18.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-18.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-18.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-18.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-18.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-18.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-18.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Zip-code-95818:--Do-not-invest--negative-predicted-return" data-toc-modified-id="Zip-code-95818:--Do-not-invest--negative-predicted-return-18.5">Zip code 95818:  Do not invest--negative predicted return</a></span></li></ul></li><li><span><a href="#SacMetro:--95630----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--95630----FUNCTIONS-to-run-19">SacMetro:  95630 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-19.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95630-(Folsom)" data-toc-modified-id="SacMetro:--95630-(Folsom)-19.2">SacMetro:  95630 (Folsom)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-19.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-19.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-19.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-19.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-19.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-19.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-19.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-19.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-19.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-19.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-19.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-19.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-19.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-19.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-19.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-19.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-19.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Zip-code-95630:--Mediocre-earning-potential,-significant-downside-risk-(but-equally-possible-upside-risk)" data-toc-modified-id="Zip-code-95630:--Mediocre-earning-potential,-significant-downside-risk-(but-equally-possible-upside-risk)-19.5">Zip code 95630:  Mediocre earning potential, significant downside risk (but equally possible upside risk)</a></span></li></ul></li><li><span><a href="#SacMetro:--96140----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--96140----FUNCTIONS-to-run-20">SacMetro:  96140 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-20.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--96140-(Carnelian-Bay)" data-toc-modified-id="SacMetro:--96140-(Carnelian-Bay)-20.2">SacMetro:  96140 (Carnelian Bay)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-20.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-20.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-20.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-20.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-20.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-20.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-20.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-20.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-20.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-20.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-20.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-20.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-20.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-20.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-20.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-20.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-20.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Zip-code-96140" data-toc-modified-id="Zip-code-96140-20.5">Zip code 96140</a></span></li></ul></li><li><span><a href="#SacMetro:--95672----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--95672----FUNCTIONS-to-run-21">SacMetro:  95672 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-21.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95672-(Rescue)" data-toc-modified-id="SacMetro:--95672-(Rescue)-21.2">SacMetro:  95672 (Rescue)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-21.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-21.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-21.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-21.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-21.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-21.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-21.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-21.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-21.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-21.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-21.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-21.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-21.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-21.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-21.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-21.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-21.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Zip-code-95672" data-toc-modified-id="Zip-code-95672-21.5">Zip code 95672</a></span></li></ul></li><li><span><a href="#SacMetro:--95636----FUNCTIONS-to-run" data-toc-modified-id="SacMetro:--95636----FUNCTIONS-to-run-22">SacMetro:  95636 -- FUNCTIONS to run</a></span><ul class="toc-item"><li><span><a href="#Create-ts-dataframe-for-single-geographic-area" data-toc-modified-id="Create-ts-dataframe-for-single-geographic-area-22.1">Create ts dataframe for <em>single</em> geographic area</a></span></li><li><span><a href="#SacMetro:--95636-(Somerset)" data-toc-modified-id="SacMetro:--95636-(Somerset)-22.2">SacMetro:  95636 (Somerset)</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-containing-values-for-just-this-geographic-unit" data-toc-modified-id="Create-dataframe-containing-values-for-just-this-geographic-unit-22.2.1">Create dataframe containing values for just this geographic unit</a></span></li><li><span><a href="#Visualizations" data-toc-modified-id="Visualizations-22.2.2">Visualizations</a></span><ul class="toc-item"><li><span><a href="#plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows" data-toc-modified-id="plot_ts:--Plot-zip-code(s)-of-interest-over-time,-with-market-highs-and-lows-22.2.2.1">plot_ts:  Plot zip code(s) of interest over time, with market highs and lows</a></span></li><li><span><a href="#Boxplot-of-zip-code" data-toc-modified-id="Boxplot-of-zip-code-22.2.2.2">Boxplot of zip code</a></span></li></ul></li><li><span><a href="#Plot-ACF-and-PACF-for-ts-dataframe" data-toc-modified-id="Plot-ACF-and-PACF-for-ts-dataframe-22.2.3">Plot ACF and PACF for ts dataframe</a></span></li><li><span><a href="#Plot-seasonal-decomposition-for-ts-dataframe" data-toc-modified-id="Plot-seasonal-decomposition-for-ts-dataframe-22.2.4">Plot seasonal decomposition for ts dataframe</a></span></li></ul></li><li><span><a href="#ARIMA-model-parameters-and-optimization" data-toc-modified-id="ARIMA-model-parameters-and-optimization-22.3">ARIMA model parameters and optimization</a></span><ul class="toc-item"><li><span><a href="#Generate-list-of-(p,d,q)-and-(p,d,q,m)-values" data-toc-modified-id="Generate-list-of-(p,d,q)-and-(p,d,q,m)-values-22.3.1">Generate list of (p,d,q) and (p,d,q,m) values</a></span></li><li><span><a href="#Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values" data-toc-modified-id="Run-ARIMA-model-on-ts-dataframe-with-list-of-p,d,q-values-22.3.2">Run ARIMA model on ts dataframe with list of p,d,q values</a></span></li><li><span><a href="#Generate-model-fit-summary" data-toc-modified-id="Generate-model-fit-summary-22.3.3">Generate model fit summary</a></span></li></ul></li><li><span><a href="#ARIMA-modeling-results:--predictions-and-visualization" data-toc-modified-id="ARIMA-modeling-results:--predictions-and-visualization-22.4">ARIMA modeling results:  predictions and visualization</a></span><ul class="toc-item"><li><span><a href="#Produce-forecasts-from-ARIMA-model-fit" data-toc-modified-id="Produce-forecasts-from-ARIMA-model-fit-22.4.1">Produce forecasts from ARIMA model fit</a></span></li><li><span><a href="#Create-dataframe-to-hold-forecast-results" data-toc-modified-id="Create-dataframe-to-hold-forecast-results-22.4.2">Create dataframe to hold forecast results</a></span></li><li><span><a href="#Create-new-dataframe-concatenating-historic-values-and-forecast-results" data-toc-modified-id="Create-new-dataframe-concatenating-historic-values-and-forecast-results-22.4.3">Create new dataframe concatenating historic values and forecast results</a></span></li><li><span><a href="#Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices" data-toc-modified-id="Calculate-predicted,-lower-bound,-and-upper-bound-forecasted-prices-22.4.4">Calculate predicted, lower bound, and upper bound forecasted prices</a></span></li><li><span><a href="#Plot-forecast-with-confidence-intervals" data-toc-modified-id="Plot-forecast-with-confidence-intervals-22.4.5">Plot forecast with confidence intervals</a></span></li><li><span><a href="#Print-summary-of-predicted,-worst-case,-and-best-case-scenarios" data-toc-modified-id="Print-summary-of-predicted,-worst-case,-and-best-case-scenarios-22.4.6">Print summary of predicted, worst-case, and best-case scenarios</a></span></li></ul></li><li><span><a href="#Zip-code-95636:--Good-return-predicted,-very-large-potential-upside,-large-potential-downside" data-toc-modified-id="Zip-code-95636:--Good-return-predicted,-very-large-potential-upside,-large-potential-downside-22.5">Zip code 95636:  Good return predicted, very large potential upside, large potential downside</a></span></li></ul></li><li><span><a href="#Ancillary-Functions" data-toc-modified-id="Ancillary-Functions-23">Ancillary Functions</a></span></li></ul></div>

# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!

# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
# !pip install -U Helper_functions

In [2]:
from Helper_functions import *
import Helper_functions as hf

In [3]:
import numpy as np
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sn

In [4]:
pd.set_option("display.max_rows", 1000)

In [5]:
pd.get_option("display.max_rows")

1000

In [6]:
df = pd.read_csv('zillow_data.csv')

In [7]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [8]:
df.loc[df.RegionName == 95616]     # also acceptable:  df.loc[df['RegionName'] == 95616]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
954,98312,95616,Davis,CA,Sacramento,Yolo,955,202500.0,202500.0,202500.0,...,683600,682800,679400,674400,677200,687700,696700,697500,695000,692300

# Step 2: Data Preprocessing

## Convert time data type to datetime format

In [9]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m', errors = 'raise')

In [10]:
get_datetimes(df)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

## Fix problem with ZIP codes beginning with '0'

I have surmised that RegionName is the ZIP code for each entry.  RegionName values with only 4 digits represent ZIP codes that actually begin with '0'.  So that I can work with ZIP codes in the data set, I will need to add that zero onto every 4-digit RegionName value.  Once that's completed, I'll rename this column "ZipCode".

In [11]:
df.head(7)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900

In [12]:
# df.RegionName.sort_values().head(10)

df.sort_values(by="RegionName").head(7)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,1001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,1002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,1005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,1007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,1008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200
11702,58204,1010,Brimfield,MA,Springfield,Hampden,11703,115800.0,115700.0,115500.0,...,246400,247500,249100,248800,245400,243800,244600,246700,248800,250900
14475,58205,1011,Chester,MA,Springfield,Hampden,14476,87000.0,87000.0,87100.0,...,160200,156700,156600,157700,155400,151400,150100,150100,149500,149100

In [13]:
df['RegionName'] = df.RegionName.astype(str)
df['RegionName'].dtype

dtype('O')

In [14]:
df.rename(columns={'RegionName': 'Zip'}, inplace=True)
df.columns
df.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [15]:
zips = []

for i in df['Zip']:
    if len(i) < 5:
        i = '0' + i
        zips.append(i)
    else:
        zips.append(i)

zips
df['Zip'] = pd.Series(zips)
df.sort_values(by='Zip').head()
# df.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,01001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,01002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,01005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,01007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,01008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200

## Creating US dataframe (df_melt) using melt function

In [16]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID', 'Zip', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=False)
    melted = melted.dropna(subset=['value'])
    return melted

In [17]:
df_melt = melt_data(df)

In [18]:
df_melt.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0

In [19]:
df_melt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744704 entries, 0 to 3901594
Data columns (total 9 columns):
RegionID      int64
Zip           object
City          object
State         object
Metro         object
CountyName    object
SizeRank      int64
time          datetime64[ns]
value         float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 285.7+ MB

In [20]:
df_melt.set_index('time')

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,value
time,,,,,,,,
1996-04-01,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0
1996-04-01,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0
1996-04-01,91982,77494,Katy,TX,Houston,Harris,3,210400.0
1996-04-01,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0
1996-04-01,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0
...,...,...,...,...,...,...,...,...
2018-04-01,58333,01338,Ashfield,MA,Greenfield Town,Franklin,14719,209300.0
2018-04-01,59107,03293,Woodstock,NH,Claremont,Grafton,14720,225800.0
2018-04-01,75672,40404,Berea,KY,Richmond,Madison,14721,133400.0
2018-04-01,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,664400.0
2018-04-01,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,357200.0

In [21]:
## Dropping RegionID:

df_melt.drop('RegionID', axis=1, inplace=True)

In [22]:
df_melt.head()

,Zip,City,State,Metro,CountyName,SizeRank,time,value
0,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0

Dataframe is sorted by SizeRank by default.

In [23]:
df_melt.isna().sum()

Zip                0
City               0
State              0
Metro         236023
CountyName         0
SizeRank           0
time               0
value              0
dtype: int64

In [24]:
df_melt['Metro'].fillna('Missing', inplace=True)
df_melt.isna().sum()

Zip           0
City          0
State         0
Metro         0
CountyName    0
SizeRank      0
time          0
value         0
dtype: int64

In [25]:
# Sorting by zip code, then time

df_melt.sort_values(by=['Zip', 'time'])

,Zip,City,State,Metro,CountyName,SizeRank,time,value
5850,01001,Agawam,MA,Springfield,Hampden,5851,1996-04-01,113100.0
20573,01001,Agawam,MA,Springfield,Hampden,5851,1996-05-01,112800.0
35296,01001,Agawam,MA,Springfield,Hampden,5851,1996-06-01,112600.0
50019,01001,Agawam,MA,Springfield,Hampden,5851,1996-07-01,112300.0
64742,01001,Agawam,MA,Springfield,Hampden,5851,1996-08-01,112100.0
...,...,...,...,...,...,...,...,...
3835273,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,2017-12-01,291900.0
3849996,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,2018-01-01,294200.0
3864719,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,2018-02-01,297500.0
3879442,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,2018-03-01,302100.0
3894165,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,2018-04-01,305100.0

Note that a few zip codes are missing; these rows were eliminated when Zip codes with NaN values in the 'value' column were dropped.

In [26]:
df_melt.nunique()

Zip           14723
City           7554
State            51
Metro           702
CountyName     1212
SizeRank      14723
time            265
value         24372
dtype: int64

### Creating new column, MetroState, to address duplicate metro names in different states (e.g., Aberdeen in multiple states)

In [27]:
df_melt['MetroState'] = df_melt['Metro'] + ' ' + df_melt['State']

In [28]:
df_melt.head()

,Zip,City,State,Metro,CountyName,SizeRank,time,value,MetroState
0,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0,Chicago IL
1,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0,Dallas-Fort Worth TX
2,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0,Houston TX
3,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0,Chicago IL
4,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0,El Paso TX

# Step 3A:  Exploratory Data Analysis--Creating dataframes of values by different geographic units

## Creating US dataframes

### Creating df_metro (US metro df) with monthly values by Zip

In [29]:
df_melt.set_index('time', inplace=True)

In [30]:
df_melt.head()

,Zip,City,State,Metro,CountyName,SizeRank,value,MetroState
time,,,,,,,,
1996-04-01,60657,Chicago,IL,Chicago,Cook,1,334200.0,Chicago IL
1996-04-01,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,Dallas-Fort Worth TX
1996-04-01,77494,Katy,TX,Houston,Harris,3,210400.0,Houston TX
1996-04-01,60614,Chicago,IL,Chicago,Cook,4,498100.0,Chicago IL
1996-04-01,79936,El Paso,TX,El Paso,El Paso,5,77300.0,El Paso TX

Note:  the dataframe is sorted by zipcode SizeRank by default.

In [31]:
df_metro = df_melt.groupby(['Metro', 'MetroState', 'CountyName', 'City', 'Zip', 'time']).mean().reset_index()

In [32]:
df_metro.head(10)

,Metro,MetroState,CountyName,City,Zip,time,SizeRank,value
0,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-04-01,5029,86600.0
1,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-05-01,5029,86300.0
2,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-06-01,5029,86100.0
3,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-07-01,5029,85900.0
4,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-08-01,5029,85700.0
5,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-09-01,5029,85600.0
6,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-10-01,5029,85600.0
7,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-11-01,5029,85700.0
8,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1996-12-01,5029,85800.0
9,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,1997-01-01,5029,85900.0

In [33]:
df_metro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744704 entries, 0 to 3744703
Data columns (total 8 columns):
Metro         object
MetroState    object
CountyName    object
City          object
Zip           object
time          datetime64[ns]
SizeRank      int64
value         float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 228.6+ MB

In [34]:
df_metro.set_index('time', inplace=True)

In [35]:
df_metro.head()

,Metro,MetroState,CountyName,City,Zip,SizeRank,value
time,,,,,,,
1996-04-01,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,5029,86600.0
1996-05-01,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,5029,86300.0
1996-06-01,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,5029,86100.0
1996-07-01,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,5029,85900.0
1996-08-01,Aberdeen,Aberdeen WA,Grays Harbor,Aberdeen,98520,5029,85700.0

In [36]:
df_metro.nunique()

Metro           702
MetroState      865
CountyName     1212
City           7554
Zip           14723
SizeRank      14723
value         24372
dtype: int64

### Creating df_metro_cities (US Metros df with *City* mean values)

In [37]:
df_metro_cities = df_metro.groupby(['MetroState', 'CountyName', 'City', 'time']).mean().reset_index()

In [38]:
df_metro_cities.head(10)

    MetroState    CountyName      City       time  SizeRank    value
0  Aberdeen WA  Grays Harbor  Aberdeen 1996-04-01    5029.0  86600.0
1  Aberdeen WA  Grays Harbor  Aberdeen 1996-05-01    5029.0  86300.0
2  Aberdeen WA  Grays Harbor  Aberdeen 1996-06-01    5029.0  86100.0
3  Aberdeen WA  Grays Harbor  Aberdeen 1996-07-01    5029.0  85900.0
4  Aberdeen WA  Grays Harbor  Aberdeen 1996-08-01    5029.0  85700.0
5  Aberdeen WA  Grays Harbor  Aberdeen 1996-09-01    5029.0  85600.0
6  Aberdeen WA  Grays Harbor  Aberdeen 1996-10-01    5029.0  85600.0
7  Aberdeen WA  Grays Harbor  Aberdeen 1996-11-01    5029.0  85700.0
8  Aberdeen WA  Grays Harbor  Aberdeen 1996-12-01    5029.0  85800.0
9  Aberdeen WA  Grays Harbor  Aberdeen 1997-01-01    5029.0  85900.0

In [39]:
df_metro_cities.set_index('time', inplace=True)

In [40]:
df_metro_cities.drop('SizeRank', axis=1, inplace=True)

In [41]:
df_metro_cities.head()

             MetroState    CountyName      City    value
time
1996-04-01  Aberdeen WA  Grays Harbor  Aberdeen  86600.0
1996-05-01  Aberdeen WA  Grays Harbor  Aberdeen  86300.0
1996-06-01  Aberdeen WA  Grays Harbor  Aberdeen  86100.0
1996-07-01  Aberdeen WA  Grays Harbor  Aberdeen  85900.0
1996-08-01  Aberdeen WA  Grays Harbor  Aberdeen  85700.0

In [42]:
df_metro_cities.nunique()

MetroState      865
CountyName     1212
City           7554
value         83532
dtype: int64

In [43]:
df_metro_cities.MetroState.nunique()

865

In [44]:
type(df_metro_cities.MetroState)

pandas.core.series.Series

In [45]:
df_metro_cities.MetroState.count()

2659069

### Creating df_metro_values (US Metros df with *Metro* mean values)

In [46]:
df_metro_values = df_melt.groupby(['MetroState', 'State', 'time']).mean().reset_index()

In [47]:
df_metro_values.head()

    MetroState State       time  SizeRank    value
0  Aberdeen WA    WA 1996-04-01   10259.5  95910.0
1  Aberdeen WA    WA 1996-05-01   10259.5  95840.0
2  Aberdeen WA    WA 1996-06-01   10259.5  95800.0
3  Aberdeen WA    WA 1996-07-01   10259.5  95760.0
4  Aberdeen WA    WA 1996-08-01   10259.5  95710.0

In [48]:
df_metro_values = df_metro_values.set_index('time')

In [49]:
df_metro_values.drop('SizeRank', axis=1, inplace=True)

In [50]:
df_metro_values.head()

             MetroState State    value
time
1996-04-01  Aberdeen WA    WA  95910.0
1996-05-01  Aberdeen WA    WA  95840.0
1996-06-01  Aberdeen WA    WA  95800.0
1996-07-01  Aberdeen WA    WA  95760.0
1996-08-01  Aberdeen WA    WA  95710.0

In [51]:
df_metro_values.MetroState.value_counts().head()

Lake Charles LA    265
Jacksonville IL    265
Savannah GA        265
Coos Bay OR        265
Fayetteville AR    265
Name: MetroState, dtype: int64

In [52]:
df_metro_values.nunique()

MetroState       865
State             51
value         101543
dtype: int64

In [53]:
df_metro_values.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 218935 entries, 1996-04-01 to 2018-04-01
Data columns (total 3 columns):
MetroState    218935 non-null object
State         218935 non-null object
value         218935 non-null float64
dtypes: float64(1), object(2)
memory usage: 6.7+ MB

## Function for creating a dataframe based on particular geographic unit (e.g., MetroState area, City, CountyName)

In [54]:
# need to set df equal to dataframe with appropriate geographic grouping

def df_geog(df=df_metro_cities, col = 'CountyName', geog = 'Yolo'):
    # Create subset dataframe containing just the geographic unit (e.g., 'MetroState', 'City', etc.) area in question
    df_metro_cities_geog = df_metro_cities.loc[df_metro_cities[col] == geog]
    return df_metro_cities_geog

In [55]:
df_geog()

               MetroState CountyName      City     value
time
1996-04-01  Sacramento CA       Yolo     Davis  189100.0
1996-05-01  Sacramento CA       Yolo     Davis  189200.0
1996-06-01  Sacramento CA       Yolo     Davis  189350.0
1996-07-01  Sacramento CA       Yolo     Davis  189600.0
1996-08-01  Sacramento CA       Yolo     Davis  189900.0
...                   ...        ...       ...       ...
2017-12-01  Sacramento CA       Yolo  Woodland  371400.0
2018-01-01  Sacramento CA       Yolo  Woodland  377350.0
2018-02-01  Sacramento CA       Yolo  Woodland  380150.0
2018-03-01  Sacramento CA       Yolo  Woodland  381000.0
2018-04-01  Sacramento CA       Yolo  Woodland  381000.0

[1325 rows x 4 columns]

##### Example:  NYNY MetroState area, grouped by cities

In [56]:
df_nyny_cities = df_geog(df=df_metro_cities, col = 'MetroState', geog = 'New York NY')

In [57]:
df_nyny_cities

             MetroState   CountyName      City          value
time
1996-04-01  New York NY        Bronx  New York  179727.272727
1996-05-01  New York NY        Bronx  New York  180009.090909
1996-06-01  New York NY        Bronx  New York  180254.545455
1996-07-01  New York NY        Bronx  New York  180354.545455
1996-08-01  New York NY        Bronx  New York  180372.727273
...                 ...          ...       ...            ...
2017-12-01  New York NY  Westchester  Yorktown  402150.000000
2018-01-01  New York NY  Westchester  Yorktown  402700.000000
2018-02-01  New York NY  Westchester  Yorktown  402950.000000
2018-03-01  New York NY  Westchester  Yorktown  403350.000000
2018-04-01  New York NY  Westchester  Yorktown  404250.000000

[61923 rows x 4 columns]

##### Example:  Las Vegas NV MetroState area

In [58]:
df_las_vegas = df_geog(df=df_metro_cities, col = 'MetroState', geog = 'Las Vegas NV')

In [59]:
df_las_vegas

              MetroState CountyName          City     value
time
1996-04-01  Las Vegas NV      Clark  Boulder City  154600.0
1996-05-01  Las Vegas NV      Clark  Boulder City  154500.0
1996-06-01  Las Vegas NV      Clark  Boulder City  154300.0
1996-07-01  Las Vegas NV      Clark  Boulder City  154100.0
1996-08-01  Las Vegas NV      Clark  Boulder City  153900.0
...                  ...        ...           ...       ...
2017-12-01  Las Vegas NV      Clark       Overton  196100.0
2018-01-01  Las Vegas NV      Clark       Overton  197600.0
2018-02-01  Las Vegas NV      Clark       Overton  200200.0
2018-03-01  Las Vegas NV      Clark       Overton  204300.0
2018-04-01  Las Vegas NV      Clark       Overton  207200.0

[2385 rows x 4 columns]

## Creating Sacramento Metro dataframes

### df_sac:  Sac Metro dataframe, values by Zip code

In [60]:
df_sac = df_melt.loc[df_melt.Metro == 'Sacramento']

In [61]:
df_sac

,Zip,City,State,Metro,CountyName,SizeRank,value,MetroState
time,,,,,,,,
1996-04-01,95630,Folsom,CA,Sacramento,Sacramento,94,190000.0,Sacramento CA
1996-04-01,95608,Carmichael,CA,Sacramento,Sacramento,127,151100.0,Sacramento CA
1996-04-01,95823,Sacramento,CA,Sacramento,Sacramento,147,91500.0,Sacramento CA
1996-04-01,95747,Roseville,CA,Sacramento,Placer,243,192700.0,Sacramento CA
1996-04-01,95758,Elk Grove,CA,Sacramento,Sacramento,347,146800.0,Sacramento CA
...,...,...,...,...,...,...,...,...
2018-04-01,95664,Pilot Hill,CA,Sacramento,El Dorado,14327,546500.0,Sacramento CA
2018-04-01,96142,Tahoma,CA,Sacramento,El Dorado,14472,523600.0,Sacramento CA
2018-04-01,96141,Homewood,CA,Sacramento,Placer,14566,689700.0,Sacramento CA
2018-04-01,95636,Somerset,CA,Sacramento,El Dorado,14632,241200.0,Sacramento CA
2018-04-01,96148,Tahoe Vista,CA,Sacramento,Placer,14681,605000.0,Sacramento CA

### df_metro_sac:  Sacramento, CA metro area values dataframe

In [62]:
# Example:  Sacramento CA 

df_metro_sac = df_metro_values.loc[df_metro_values['MetroState'] == 'Sacramento CA'].head()

In [63]:
df_metro_sac.head()

               MetroState State          value
time
1996-04-01  Sacramento CA    CA  147985.555556
1996-05-01  Sacramento CA    CA  147713.333333
1996-06-01  Sacramento CA    CA  147456.666667
1996-07-01  Sacramento CA    CA  147211.111111
1996-08-01  Sacramento CA    CA  147023.333333

# Step 3B:  Creating lists and dictionaries for iterating through dataframes

## Function to print first n number of items in a dictionary

In [64]:
# function to print first n number of items in a dictionary

def print_first_n(dictionary, n):
    return {k: dictionary[k] for k in list(dictionary)[:n]}

## Search metro area by str.contains

In [65]:
# df_metro_values[df_metro_values['MetroState'].str.contains('New York', regex=False)]

## dict_cities_one_metro:  Function to create dictionary of cities in one metro area

In [66]:
def dict_cities_one_metro(dict_metro_cities, metarea):
    dict_cities_one_metro = {metarea: dict_metro_cities[metarea]}
    return dict_cities_one_metro

In [67]:
dict_nyny_cities = dict_cities_one_metro(dict_metro_cities, metarea='New York NY')
# print(dict_nyny_cities)

NameError: name 'dict_metro_cities' is not defined

## US lists and dictionaries

### Create df with just the first date entry for each zip code
To create a dictionary, we just need one row with a given zip code; we don't need all of the data values for that zip code; we just need one row with all of the pertinent information related to zip code.

In [ ]:
df_metro_zips_yr1 = df_metro.loc['1996-12-01']

In [ ]:
df_metro_zips_yr1.head(10)

In [ ]:
df_metro_zips_yr1.sort_values(by='SizeRank').head()

### Creating list of unique metro areas (metro_state_list)

In [ ]:
metro_state_list = list(set(df_melt['MetroState']))

In [ ]:
len(metro_state_list)

In [ ]:
print(metro_state_list[:10])

### Create ordict_zips_sizerank (dictionary of zip codes and size ranks)

In [ ]:
from collections import defaultdict

dict_zips_sizerank = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_zips_sizerank[row['Zip']].append(row['SizeRank'])
    
print(type(dict_zips_sizerank))

In [ ]:
print_first_n(dict_zips_sizerank, n=10)

In [ ]:
from collections import OrderedDict

# Create Ordered dictionary of zip codes, ranked by size, largest to smallest
ordict_zips_sizerank = OrderedDict(sorted(dict_zips_sizerank.items(), key=lambda item: item[1], reverse=False))
type(ordict_zips_sizerank)

##### Print first 10 key:value pairs of dictionary, to make sure that output is as expected

In [ ]:
print_first_n(ordict_zips_sizerank, n=10)

### Create dict_sizerank_zips (dictionary of size ranks and zip codes--keys:values reversed from previous dictionary)

In [ ]:
from collections import defaultdict

dict_sizerank_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_sizerank_zips[row['SizeRank']].append(row['Zip'])
    
print(type(dict_sizerank_zips))

In [ ]:
print_first_n(dict_sizerank_zips, n=10)

In [ ]:
sorted(dict_sizerank_zips.items())[:10]

### Creating dict_metrostate_zips (dictionary with zips per unique metro area (MetroState))

In [ ]:
from collections import defaultdict

dict_metrostate_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_metrostate_zips[row['MetroState']].append(row['Zip'])
    
print(type(dict_metrostate_zips))

In [ ]:
print(print_first_n(dict_metrostate_zips, n=10))

In [ ]:
len(dict_metrostate_zips['New York NY'])

In [ ]:
len(dict_metrostate_zips['New York NJ'])

In [ ]:
len(dict_metrostate_zips['New York PA'])

### Creating ordict_num_metro_zip_counts_sorted (dictionary reverse-sorting of number of zip codes in a unique *metro area*)

In [ ]:
dict_num_metro_zip_counts = {key: len(dict_metrostate_zips[key]) for key in dict_metrostate_zips.keys()}

In [ ]:
print_first_n(dict_num_metro_zip_counts, n=10)

In [ ]:
# Create Ordered dictionary
ordict_metro_zips_sizerank = OrderedDict(sorted(dict_num_metro_zip_counts.items(), key=lambda item: item[1], reverse=True))
type(ordict_metro_zips_sizerank)

In [ ]:
# print(ordict_metro_zips_sizerank)  # prints dictionary of metro areas ranked by number of zip codes (largest # first)

{k: ordict_metro_zips_sizerank[k] for k in list(ordict_metro_zips_sizerank)[:10]}  # prints top 10 metro areas by number of zip codes

### Creating dict_allcities_zips (zips for each city)

In [ ]:
from collections import defaultdict

dict_allcities_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_allcities_zips[row['City']].append(row['Zip'])
    
print(type(dict_allcities_zips))

In [ ]:
print_first_n(dict_allcities_zips, n=10)  # not sorted in any particular way

In [ ]:
len(dict_allcities_zips)

In [ ]:
len(dict_allcities_zips['New York'])

### Creating ordict_allcities_zips (ordered dictionary of zips by city, sorted by city name)

In [ ]:
from collections import OrderedDict

# Create ORDERED dictionary for zips in each city, so that we don't have to use the sort function and end up with a tuple

ordict_allcities_zips = OrderedDict(sorted(dict_allcities_zips.items(), reverse=False))
type(ordict_allcities_zips)

In [ ]:
print_first_n(ordict_allcities_zips, n=10)   # reminder of what is contained in function:  {k: ordict_allcities_zips[k] for k in list(ordict_allcities_zips)[:n]}

### Create ordict_num_city_zips_sorted (dictionary reverse-sorting *counts* of zip codes by city)

In [ ]:
dict_num_city_zips = {key: len(dict_allcities_zips[key]) for key in dict_allcities_zips.keys()}

In [ ]:
len(dict_num_city_zips)

In [ ]:
dict_num_city_zips

In [ ]:
# Create Ordered dictionary
ordict_city_zips_sorted = OrderedDict(sorted(dict_num_city_zips.items(), key=lambda item: item[1], reverse=True))
type(ordict_city_zips_sorted)

In [ ]:
print_first_n(ordict_city_zips_sorted, n=10)

### Creating dict_metro_size (dictionary of metro areas and number of data points (proxy for size of metro area))

In [ ]:
dict_metro_size = dict(df_metro.MetroState.value_counts())
# dict_metro_size

In [ ]:
len(dict_metro_size)

In [ ]:
dict_metro_size

In [ ]:
list_metro_size = list(dict_metro_size.keys())
list_metro_size

#### Creating dictionary object of dict_metro_size

In [ ]:
dict_obj = dict_metro_size.items()

In [ ]:
type(dict_obj)

#### Creating list  (list of tuples) from dict_metro_size object

In [ ]:
dict_obj_list = list(dict_obj)

In [ ]:
dict_obj_list[:10]

#### Creating list of tuples of the thirty largest metro areas

In [ ]:
list_tup_large_metros_30 = dict_obj_list[:30]
list_tup_large_metros_30[:5]

In [ ]:
len(list_tup_large_metros_30)

#### Creating list from [0] index in each tuple

In [ ]:
list_tup_large_metros_30
b = map(lambda x: x[0], list_tup_large_metros_30)
large_metro_list_30 = list(b)
large_metro_list_30[:5]         # in order of size

#### Creating list of tuples of the fifty largest metro areas

In [ ]:
# b = map(lambda x: x[0], tup)

In [ ]:
list_tup_large_metros_50 = dict_obj_list[:50]
len(list_tup_large_metros_50)

In [ ]:
list_tup_large_metros_50[:20]

#### Creating list from [0] index in each tuple

In [ ]:
list_tup_large_metros_50                # in order of size
b = map(lambda x: x[0], list_tup_large_metros_50)
large_metro_list_50 = list(b)

In [ ]:
len(large_metro_list_50)

In [ ]:
large_metro_list_50[:5]

### Creating dict_metro_cities (dictionary of MetroState areas and cities within each)

#### List of metro cities

In [ ]:
metro_cities = list(set(df_metro_zips_yr1.City))
metro_cities.sort()
metro_cities[:10]

#### Creating dict_metro_cities (dictionary of metro areas and the cities in each)

In [ ]:
df_metro_cities_mo1 = df_metro_cities.loc['1996-04-01']

In [ ]:
from collections import defaultdict

dict_metro_cities = defaultdict(list)

for idx,row in df_metro_cities_mo1.iterrows():
    dict_metro_cities[row['MetroState']].append(row['City'])
    
print(type(dict_metro_cities))

In [ ]:
print_first_n(dict_metro_cities, n=3)  # print(dict_metro_cities)

In [ ]:
len(dict_metro_cities)

In [ ]:
len(dict_metro_cities['New York NY'])

In [ ]:
len(dict_metro_cities['New York NJ'])

#### Creating dict_sorted_metro_cities (dictionary of metro areas, sorted from largest to smallest, and the cities in each)

In [ ]:
# Create ORDERED cities-by-metro dictionary, ordered by size of metro, sorting by another dictionary!

dict_sorted_metros_cities = OrderedDict([(x, dict_metro_cities[x]) for x in dict_metro_size])
print_first_n(dict_sorted_metros_cities, n=3)

### Steps for creating list of cities in a metro area, sorted from largest to smallest in terms of # of zip codes in city

In [ ]:
# Create subset dataframe containing just MetroState area in question

df_metro_cities_nyny = df_metro_cities.loc[df_metro_cities['MetroState'] == 'New York NY']
df_metro_cities_nyny.head()

In [ ]:
# Using dict_sorted_metros_cities, create list of all cities in the MetroState area of interest

metro_cities_nyny = dict_sorted_metros_cities['New York NY']
metro_cities_nyny[:20]

In [ ]:
# Create dictionary of cities and zip codes in the metro area (will do a reverse sort of count of zip codes after)

from collections import defaultdict

dict_nyny_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.loc[df_metro_zips_yr1['MetroState'] == 'New York NY'].iterrows():
    dict_nyny_zips[row['City']].append(row['Zip'])
    
print(type(dict_nyny_zips))

In [ ]:
print_first_n(dict_nyny_zips, n=10)

In [ ]:
# create dictionary containing the number of zip codes in each city

dict_num_nyny_zips = {key: len(dict_nyny_zips[key]) for key in dict_nyny_zips.keys()}

In [ ]:
dict_num_nyny_zips

In [ ]:
# Create Ordered dictionary sorting cities from most zip codes to least

ordict_nyny_zips_sorted = OrderedDict(sorted(dict_num_nyny_zips.items(), key=lambda item: item[1], reverse=True))
type(ordict_nyny_zips_sorted)

In [ ]:
print_first_n(ordict_nyny_zips_sorted, n=10)

In [ ]:
# create list of cities that is sorted by size (as determined by number of zip codes)

nyny_metro_cities_sorted = list(ordict_nyny_zips_sorted.keys())

In [ ]:
nyny_metro_cities_sorted[:10]   # list of cities in NY NY metro area, sorted by number of zip codes in city

### city_metro_list function creating a dataframe AND a list of cities in a metro area, sorted from largest to smallest

In [ ]:
def city_metro_list(df_metro_cities, dict_sorted_metros_cities, col = 'MetroState', metarea = 'New York NY'):
    
    '''Function creates subset dataframe AND a list of cities in a metro area, sorted from largest to smallest by number of 
    zip codes within that city'''
    
    # Create subset dataframe containing just MetroState area in question
    df_metro_cities_metarea = df_metro_cities.loc[df_metro_cities[col] == metarea]
    ts = df_metro_cities_metarea
    
    # Using dict_sorted_metros_cities, create list of all cities in the MetroState area of interest
    metro_cities_metarea = dict_sorted_metros_cities[metarea]
    
    # Create dictionary of cities and zips in metro area
    from collections import defaultdict
    dict_metarea_zips = defaultdict(list)
    for idx,row in df_metro_zips_yr1.loc[df_metro_zips_yr1[col] == metarea].iterrows():
        dict_metarea_zips[row['City']].append(row['Zip'])
        
    # create dictionary containing the number of zip codes in each city
    dict_num_metarea_zips = {key: len(dict_metarea_zips[key]) for key in dict_metarea_zips.keys()}
    
    # Create Ordered dictionary sorting cities from most zip codes to least
    ordict_metarea_zips_sorted = OrderedDict(sorted(dict_num_metarea_zips.items(), key=lambda item: item[1], reverse=True))
    
    # create list of cities that is sorted by size (as determined by number of zip codes)
    metarea_cities_sorted = list(ordict_metarea_zips_sorted.keys())
    
    return ts, metarea_cities_sorted

In [ ]:
df_nyny_cities, nyny_city_list = city_metro_list(df_metro_cities, dict_sorted_metros_cities, col = 'MetroState', metarea = 'New York NY')

In [ ]:
df_nyny_cities.head()

In [ ]:
nyny_city_list[:10]

## Sacramento lists and dictionaries

### Creating sac_metro_cities list from df_sac

In [ ]:
sac_metro_cities = list(set(df_sac.City))
sac_metro_cities[:10]

In [ ]:
sac_metro_cities.sort()
sac_metro_cities

In [ ]:
df_sac['value'].loc[df_sac['City'] == 'Applegate'].head()

### Creating sac_metro_zips list from zips in Sac Metro area

In [ ]:
sac_metro_zips = list(set(df_sac.Zip))
sac_metro_zips[:10]

### Creating sac_metro_cty list from df_sac

In [ ]:
sac_metro_cty = list(set(df_sac.CountyName))
sac_metro_cty

### Creating dict_zips_cities dictionary to graph zips by city

In [ ]:
df_sac_mo_one = df_sac.groupby(['CountyName', 'City', 'Zip']).mean().reset_index()

In [ ]:
df_sac_mo_one.sort_values(by=['Zip']).head(30)

#### Seeking to create the dictionary showing just the unique zip code instance rather than repeating it for each row of data)

In [ ]:
from collections import defaultdict

dict_sac_zips_cities = defaultdict(list)

for idx,row in df_sac_mo_one.iterrows():
    dict_sac_zips_cities[row['City']].append(row['Zip'])
    
print(dict_sac_zips_cities)

In [ ]:
for key in sorted(dict_sac_zips_cities):
    print(f"{key}: {dict_sac_zips_cities[key]}")

### Creating sacto_zips (list of zip codes in City Sacramento)

In [ ]:
sacto_zips = list(set(df_sacto_city_zips['Zip']))
len(sacto_zips)

# Step 3C: Visualization functions--plotting time series values

In [ ]:
# Here's the code for graphing over the dictionary

# for key in sorted(dict_zips_cities.keys()):
#     fig, ax = plt.subplots(figsize=(8, 4))
#     plt.title(f"{key}")
#     for val in dict_zips_cities[key]:
#         df_sac[df_sac['Zip'] == val].plot(ax = ax)
#         ax.legend(dict_zips_cities[key], ncol=3)

## Plotting function:  plot_ts (based on James Irving's study group)

In [ ]:
# Framework from James Irving's study group for creating a plotting function that allows
# entry of zip codes of interest

def plot_ts(df_melt, col='value', zipcodes=['95616'], figsize=(12,8)):
    
    fig, ax = plt.subplots()
    
    for zc in zipcodes:
        ts = df_melt[col].loc[df_melt['Zip'] == zc]
        ts.plot(figsize=figsize, label = str(zc), ax=ax)

    max_ = ts.loc['2004':'2010'].idxmax()  # 625600
    crash = '01-2009'
    min_ = ts.loc[crash:].idxmin()
    max_all = ts.idxmax()
    min_all = ts.idxmin()
    mean_all = ts.mean()

    ax.axvline('2004-01-01', label=f'2004', color = 'black')
    ax.axvline('2011-12-01', label=f'2010', color = 'black')
    ax.axvline(max_, label='Max Price in 2004 - 2010 timeframe', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='black', ls=':')
    ax.axvline(min_, label=f'Min Price Post Crash (2004 - 2010 timeframe) {min_}', color = 'red', ls=':')
    ax.axvline(max_all, label='All time series max', color = 'green', ls=':')
    ax.axvline(mean_all, label = 'All time series mean', color='red', ls=':')
    ax.axvline(min_all, label=f'All time series min: {min_}', color = 'red', ls=':')

    ax.legend()
    
    return fig, ax

In [ ]:
fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])

## Plotting function:  plot_single_geog function (plots a single geographic unit)

In [ ]:
# Be sure to use df with appropriate value grouping (e.g., metro, city, zip)

def plot_single_geog(df, col = 'value', col2 = 'MetroState', metunit = 'Sacramento CA', figsize=(12, 6)):
    ts = df[col].loc[df[col2] == metunit]
    ax = ts.plot(figsize=figsize, title = metunit, label = 'Raw Price')

    max_ = ts.loc['2004':'2010'].idxmax()  
    crash = '01-2009'
    min_ = ts.loc[crash:].idxmin()
    val_2003 = ts.loc['2003-01-01']

    ax.axvline(max_, label='Max Price', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
    ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
    ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)

    ax.legend()

# plot_ts_metros(df_metro_values, metros, col='value', x = (12, 8), nrows = 1, ncols = 1, legend=True, set_ylim = False, ylim = 1500000)
    
# plot_ts(df_melt, col='value', zipcodes=['95616'])

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Dallas-Fort Worth TX', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Philadelphia PA', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Pittsburgh PA', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'St. Louis MO', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Denver CO', figsize=(12, 6))

## Plot function:  plot_ts_metros()

In [ ]:
# Adapted from James Irving's study group:   
    
def plot_ts_metros(df, metros, col='value', x = (18, 80), nrows = 15, ncols = 2, legend=True, set_ylim = True, ylim = 1500000):
    
    fig = plt.figure(figsize=(18, 80))
    
    for i, met in enumerate(metros, start=1):
        ax = fig.add_subplot(15,2,i)
        
        ts = df[col].loc[df['MetroState'] == met]
        ts.plot(title = str(met), ax=ax)

        max_ = ts.loc['2004':'2011'].idxmax()  
        crash = '01-2009'
        min_ = ts.loc[crash:].idxmin()
        val_2003 = ts.loc['2003-01-01']

        max_all = ts.idxmax()
        min_all = ts.idxmin()

        ax.axvline(max_, label=f'Max Price: {max_}', color = 'orange', ls=':')
        ax.axvline(crash, label = 'Housing Index Drops', color='black')
        ax.axvline(min_, label=f'Min Price Post Crash: {min_}', color = 'red', ls=':')
        ax.axvline(max_all, label=f'All time series max {max_all}', color = 'green', ls=':')
        ax.axvline(min_all, label=f'All time series min: {min_all}', color = 'red', ls=':')
        try:
            ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)
        except:
            continue

        if set_ylim:
            ax.set_ylim(top=1000000)
        if legend:
            ax.legend()
    
        fig.tight_layout()
    
    return fig, ax

### Plotting top 30 metro areas

In [ ]:
# Plotting top 30 metros; no standardized y-axis

fig, ax = plot_ts_metros(df_metro_values, large_metro_list_30, set_ylim = False)

In [ ]:
# Plotting top 30 metros; standardized y-axis

fig, ax = plot_ts_metros(df_metro_values, large_metro_list_30, x = (18, 80), nrows = 15, ncols = 2, set_ylim = True, ylim = 1000000)

## Plotting function:   plot_ts_cities (plot values by city)

In [ ]:
# Adapted from James Irving's study group:
    
def plot_ts_cities(df, cities, col='value', x = (18, 100), nrows=30, ncols=2, 
                   legend=True, set_ylim = False, ylim = 1400000):
    
    fig = plt.figure(figsize=x)
    
    for i, city in enumerate(cities, start=1):
        ax = fig.add_subplot(nrows, ncols, i)
        
        ts = df[col].loc[df['City'] == city]
        ts.plot(title = str(city), ax=ax)

        try:
            max_ = ts.loc['2004':'2011'].idxmax() 
        except:
            continue
        crash = '01-2009'
        min_ = ts.loc[crash:].idxmin()
        try:
            val_2003 = ts.loc['2003-01-01']
        except:
            continue

        max_all = ts.idxmax()
        min_all = ts.idxmin()

        ax.axvline(max_, label=f'Max Price: {max_}', color = 'orange', ls=':')
        ax.axvline(crash, label = 'Housing Index Drops', color='black')
        ax.axvline(min_, label=f'Min Price Post Crash: {min_}', color = 'red', ls=':')
        ax.axvline(max_all, label=f'All time series max {max_all}', color = 'green', ls=':')
        ax.axvline(min_all, label=f'All time series min: {min_all}', color = 'red', ls=':')
        try:
            ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)
        except:
            continue
        if set_ylim:
            ax.set_ylim(ylim)
        if legend:
            ax.legend(loc="best")

        fig.tight_layout()
    
    return fig, ax

In [ ]:
df_nyny_cities

In [ ]:
plot_ts_cities(df_nyny_cities, nyny_metro_cities_sorted[1:40], col='value')

## Plotting function:  plot_ts_metro_cities (metro area by city)

In [ ]:
def plot_ts_metro_cities(df, dict_metro_cities, col='value', x = (18, 80), 
                         nrows=20, ncols=2, legend=False, set_ylim=False, ylim = 1400000):
    
    fig = plt.figure(figsize=x)
    
    for i, key in enumerate(sorted(dict_metro_cities.keys()), start=1):
        ax = fig.add_subplot(nrows, ncols, i)
        for val in dict_metro_cities[key]:
            ts = df[col].loc[df['City'] == val]
            try: 
                max_ = ts.loc['2004':'2011'].idxmax()  
            except:
                continue

        ts.plot(title = f'{key}: {val}', ax=ax)

        max_ = ts.loc['2004':'2011'].idxmax()  
        crash = '01-2009'
        min_ = ts.loc[crash:].idxmin()
        val_2003 = ts.loc['2003-01-01']

        max_all = ts.idxmax()
        min_all = ts.idxmin()

        ax.axvline(max_, label=f'Max Price: {max_}', color = 'orange', ls=':')
        ax.axvline(crash, label = 'Housing Index Drops', color='black')
        ax.axvline(min_, label=f'Min Price Post Crash: {min_}', color = 'red', ls=':')
        ax.axvline(max_all, label=f'All time series max {max_all}', color = 'green', ls=':')
        ax.axvline(min_all, label=f'All time series min: {min_all}', color = 'red', ls=':')
        try:
            ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)
        except:
            continue
        if set_ylim:
            ax.set_ylim(top=ylim)
        if legend:
            ax.legend()
    
        fig.tight_layout()
    
    return fig, ax

In [ ]:
# df_metro_cities_nyny.head()

### Plotting city values in Sacramento CA metro area

In [ ]:
df_sacmet_city_values, sacmet_city_list = city_metro_list(df_metro_cities, dict_sorted_metros_cities, 
                                                          col = 'MetroState', metarea = 'Sacramento CA')

# df_nyny_cities, nyny_city_list = city_metro_list(df_metro_cities, dict_sorted_metros_cities, 
#                                                  col = 'MetroState', metarea = 'New York NY')

In [ ]:
df_sacmet_city_values.tail()

In [ ]:
sacmet_city_list.sort() # sort list before running in function to see city names alphabetically

In [ ]:
print(sacmet_city_list)

In [ ]:
plot_ts_cities(df_sacmet_city_values, sacmet_city_list, col='value')

## Plot function:  plot_ts_zips (plots individual zip codes in a list provided to the function)

In [ ]:
# Adapted from James Irving's study group:
    
def plot_ts_zips(df, zipcodes, col='value', x = (18, 60), nrows=15, ncols=2, 
                 legend=True, set_ylim = False, ylim = 800000):
    
    fig = plt.figure(figsize=x)
    
    for i, zc in enumerate(zipcodes, start=1):
        ax = fig.add_subplot(nrows, ncols, i)
        
        ts = df[col].loc[df['Zip'] == zc]
        ts.plot(title = zc, ax=ax)
        
        try: 
            max_ = ts.loc['2004':'2011'].idxmax()  
        except:
            continue

        crash = '01-2009'
        min_ = ts.loc[crash:].idxmin()
        val_2003 = ts.loc['2003-01-01']

        max_all = ts.idxmax()
        min_all = ts.idxmin()

        ax.axvline(max_, label=f'Max Price: {max_}', color = 'orange', ls=':')
        ax.axvline(crash, label = 'Housing Index Drops', color='black')
        ax.axvline(min_, label=f'Min Price Post Crash: {min_}', color = 'red', ls=':')
        ax.axvline(max_all, label=f'All time series max {max_all}', color = 'green', ls=':')
        ax.axvline(min_all, label=f'All time series min: {min_all}', color = 'red', ls=':')
        ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)
        if set_ylim:
            ax.set_ylim(ylim)
        if legend:
            ax.legend(loc='best')
    
        fig.tight_layout()
    
    return fig, ax

## Plotting function:  plot_single_geog function:  plots a single geographic unit

In [ ]:
# Be sure to use df with appropriate value grouping (e.g., metro, city, zip)

def plot_single_geog(df, col = 'value', col2 = 'MetroState', metunit = 'Sacramento CA', figsize=(12, 6)):
    ts = df[col].loc[df[col2] == metunit]
    ax = ts.plot(figsize=figsize, title = metunit, label = 'Raw Price')

    max_ = ts.loc['2004':'2010'].idxmax()  
    crash = '01-2009'
    min_ = ts.loc[crash:].idxmin()
    val_2003 = ts.loc['2003-01-01']

    ax.axvline(max_, label='Max Price', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
    ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
    ax.axhline(val_2003, label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)

    ax.legend()

# plot_ts_metros(df_metro_values, metros, col='value', x = (12, 8), nrows = 1, ncols = 1, legend=True, set_ylim = False, ylim = 1500000)
    
# plot_ts(df_melt, col='value', zipcodes=['95616'])

## Plotting function:  plot_ts_zips_by_city (Metro area cities with zip codes)

In [ ]:
# Function below adapted from James Irving's study group:
    
def plot_ts_zips_by_city(df, dict_zips_cities, col='value', x = (18, 100), 
                         nrows=30, ncols=2, legend=True, set_ylim = False, ylim = 1400000):
    
    fig = plt.figure(figsize=x)
    
    for i, key in enumerate(sorted(dict_zips_cities.keys()), start=1):
        ax = fig.add_subplot(nrows, ncols, i)
        for val in dict_zips_cities[key]:
            ts = df[col].loc[df['Zip'] == val]
            try: 
                max_ = ts.loc['2004':'2011'].idxmax()  
            except:
                continue
            
            crash = '01-2009'
#             min_val = ts.loc[crash:].min()   # purpose of var is to use to graph horizontal line at price at 2003-01-01
            min_ = ts.loc[crash:].idxmin()
            ts.plot(title = key, ax=ax)
#             val_2003 = ts.loc['2003-01-01']  # This is for graphic horizontal line at 2003 value, but can't 
                                               # get it to work on multiple zip plots 
            max_all = ts.idxmax()
            min_all = ts.idxmin()

            ax.axvline(max_, label = val, color = 'orange', ls=':')               
            ax.axvline(crash, color='black')                         # no labels
            ax.axvline(min_, color = 'red', ls=':')
            ax.axvline(max_all, color = 'green', ls=':')  
            ax.axvline(min_all, color = 'red', ls=':')  
            ax.axvline('2003-01-01', color = 'blue', ls='-.', alpha=0.15)   # for label, insert the following:  label='2003-01-01'
            
            if set_ylim:
                ax.set_ylim(ylim)
            if legend:
                ax.legend(loc="best")
    
        fig.tight_layout()
    
    return fig, ax

#  Ignore code below unless labels for each vertical line are desired

#  ax.axvline(max_, label=f'Max Price: {max_}', color = 'orange', ls=':')              # contains labels
#  ax.axvline(crash, label = 'Housing Index Drops', color='black')                     # contains labels
#  ax.axvline(min_, label=f'Min Price Post Crash: {min_}', color = 'red', ls=':')      # contains labels
#  ax.axhline(min_val, label=f'Min Price Post Crash: {min_}', color = 'red', ls='-.', alpha=0.15)  # can't get this to work on multiple zip plots 
#  ax.axvline(max_all, label=f'All time series max {max_all}', color = 'green', ls=':')  # contains labels
#  ax.axvline(min_all, label=f'All time series min: {min_all}', color = 'red', ls=':')   # contains labels
#  ax.axhline(ts.loc['2003-01-01'], label='2003-01-01 value', color = 'blue', ls='-.', alpha=0.15)  # can't get this to work on multiple zip plots

## Plotting Sacramento values by zip code, grouped by city or within a city

In [ ]:
df_sacto_city_zips = df_sac.loc[df_sac['City'] == 'Sacramento']
df_sacto_city_zips.head()

In [ ]:
df_sacto_city_zips['Zip'].value_counts()

In [ ]:
sacto_zips = list(set(df_sacto_city_zips['Zip']))
len(sacto_zips)

In [ ]:
ts = df_sacto_city_zips['value'].loc[df_sacto_city_zips['Zip'] == '95823']
ts.head()

### Plots of zip codes in City of Sacramento

In [ ]:
fig, ax = plot_ts_zips(df_sacto_city_zips, sacto_zips)

### Plotting cities and zip codes within Sacramento Metro area

In [ ]:
sorted(dict_sac_zips_cities)[:10]

In [ ]:
fig, ax = plot_ts_zips_by_city(df_sac, dict_sac_zips_cities, x=(18, 100), legend=True)

### Creating df_sac_mo_city (monthly values by *City*)

In [ ]:
df_sac_mo_city = df_sac

In [ ]:
df_sac_mo_city.head()

In [ ]:
df_sac_mo_city = df_sac.groupby(['CountyName', 'City', 'time']).mean()
df_sac_mo_city.head()

In [ ]:
df_sac_mo_city.reset_index(inplace=True)

In [ ]:
df_sac_mo_city.set_index('time', inplace=True)

In [ ]:
# df_sac_mo_city.loc['1996-04-01':'2000-12-31']

df_sac_mo_city

In [ ]:
# df_sac_mo_city.drop('SizeRank', axis=1, inplace=True)

In [ ]:
df_sac_mo_city.head()

### Plotting value by city in Sacto Metro area

In [ ]:
fig, ax = plot_ts_cities(df_sac_mo_city, sac_metro_cities)

In [ ]:
df_davis = df_sac.loc[df_sac['City'] == 'Davis']

In [ ]:
df_davis.sort_values(by=['Zip', 'time'], inplace=True)
df_davis.head()

In [ ]:
# for zipcode in df_davis['Zip']:     # zipcodes for Davis
#     print(zipcode, df_davis['value'])

for zipcode in df_davis['Zip']:
    df_davis['value'].loc[df_davis['Zip'] == zipcode].plot(figsize=(12, 7))

# Seasonality appears not to be a big factor in this city in the Sacramento Valley of California

In [ ]:
df_davis_201415 = df_davis.loc['2004':'2015']
df_davis_201415.head()

In [ ]:
for zipcode in df_davis_201415['Zip']:     # zipcodes for Woodland
    df_davis_201415['value'].loc[df_davis_201415['Zip'] == zipcode].plot(figsize=(12, 7))

    
# very little seasonality is evident

## Boxplots

### Plotting boxplots for each city in Sacto Metro region

In [ ]:
# fig, ax = plt.subplots(figsize=(40,40))

fig = plt.figure(figsize=(18, 40))

for i, city in enumerate(sac_metro_cities, start=1):
    ax = fig.add_subplot(10,6,i)
    df_sac_mo_city.loc[df_sac_mo_city['City'] == city].boxplot(ax = ax)
    ax.set_title(f'{city}')
    fig.tight_layout()

### Plotting boxplots for each zip in Sac Metro, by city

In [ ]:
fig = plt.figure(figsize=(18, 30))

for i, zc in enumerate(sac_metro_zips[:48], start=1):
    ax = fig.add_subplot(8,6,i)
    ts = df_sac.loc[df_sac['Zip'] == zc]
    ts.boxplot(column = 'value', ax = ax)
    ax.set_title(f'{zc}')
    fig.tight_layout()

In [ ]:
print(len(dict_sac_zips_cities))

In [ ]:
# first20pairs = {k: dict_sac_zips_cities[k] for k in list(dict_sac_zips_cities)[:20]}
# type(first20pairs)

In [ ]:
fig = plt.figure(figsize=(18, 50))

for i, (city, zc) in enumerate(dict_sac_zips_cities.copy().items(), start=1):
    ax = fig.add_subplot(14,6,i)
    ax.set_title(f'{city}')
    for i, zc in enumerate(dict_sac_zips_cities.copy()[city], start=1):
        ts = df_sac.loc[df_sac['Zip'] == zc]
        ts.boxplot(column = 'value')
        fig.tight_layout()

In [ ]:
df_sac_city = df_sac.loc[df_sac['City'] == 'Sacramento']

df_sac_city.head()

In [ ]:
sacto_zips = list(set(df_sac_city['Zip']))
len(sacto_zips)

In [ ]:
df_sac_city.boxplot(by='Zip', column = 'value', figsize=(16, 6))

### Violin plot for Sacramento city zip codes

In [ ]:
import seaborn as sns

In [ ]:
# got figure size  modification example from https://exceptionshub.com/how-do-i-change-the-figure-size-for-a-seaborn-plot.html

# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_44, scale="count", inner="stick", ax=ax)

fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city, scale="width", inner="quartile", ax=ax)

In [ ]:
df_sac_city_1996_1999 = df_sac_city.loc['1996-04-01':'1999-12-01']
df_sac_city_1996_1999.tail()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city_1996_1999, scale="width", inner="quartile", ax=ax)

In [ ]:
df_sac_city_2000_2003 = df_sac_city.loc['2000-01-01':'2003-12-01']
df_sac_city_2000_2003.head()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city_2000_2003, scale="width", inner="quartile", ax=ax)

In [ ]:
df_sac_city_2004_2006 = df_sac_city.loc['2004-01-01':'2006-12-01']
df_sac_city_2004_2006.head()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city_2004_2006, scale="width", inner="quartile", ax=ax)

In [ ]:
df_sac_city_2007_2012 = df_sac_city.loc['2007-01-01':'2012-12-01']
df_sac_city_2007_2012.head()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city_2007_2012, scale="width", inner="quartile", ax=ax)

In [ ]:
df_sac_city_2013_2018 = df_sac_city.loc['2013-01-01':'2018']
df_sac_city_2013_2018.tail()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
sns.violinplot(x="Zip", y="value", data=df_sac_city_2013_2018, scale="width", inner="quartile", ax=ax)

### Line plot for Davis, CA, marking height of market bubble, drop of housing index on national level, and min for Davis post crash

In [ ]:
# Looking at a single zip code (mine)

ts = df_sac['value'].loc[df_sac['Zip'] == '95616']
ax = ts.plot(figsize=(10, 6), label = 'Raw Price')

max_ = ts.loc['2004':'2010'].idxmax()  # 625600
crash = '01-2009'
min_ = ts.loc[crash:].idxmin()


ax.axvline(max_, label='Max Price', color = 'green', ls=':')
ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
ax.legend()

# Step 3D:  Visualizations

## Set ts = zip code for initial test

In [ ]:
ts = df_melt.loc[df_melt['Zip'] == '95616']

In [ ]:
ts.head()

In [ ]:
ts = ts.resample('MS').asfreq()

In [ ]:
ts.head()

In [ ]:
plot_ts(df_melt, col='value', zipcodes=['95616'])

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Dallas-Fort Worth TX', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Philadelphia PA', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Pittsburgh PA', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'St. Louis MO', figsize=(12, 6))

In [ ]:
plot_single_geog(df_metro_values, col = 'value', col2 = 'MetroState', 
                 metunit = 'Denver CO', figsize=(12, 6))

## Creating ACF and PACF plots

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from pandas.plotting import autocorrelation_plot, lag_plot

In [ ]:
ts.head(3)

In [ ]:
ts = ts.drop('SizeRank', axis=1)

In [ ]:
ts.head(3)

In [ ]:
ts = ts['value']

In [ ]:
def plot_acf_pacf(ts, figsize=(10,6), lags=15):
    fig, ax = plt.subplots(nrows=2, figsize=figsize)
    plot_acf(ts, ax=ax[0], lags=lags)
    plot_pacf(ts, ax=ax[1], lags=lags)
    plt.tight_layout()
    
    for a in ax:
        a.xaxis.set_major_locator(mpl.ticker.MaxNLocator(min_n_ticks=lags, integer=True))
        a.xaxis.grid()
    
plot_acf_pacf(ts)

## Seasonal Decomposition

In [ ]:
# from James Irving's study group
# plot seasonal decomposition

def plot_seasonal_decomp(ts):
    decomp = seasonal_decompose(ts)
    ts_seasonal = decomp.seasonal

    ax = ts_seasonal.plot()
    fig = ax.get_figure()
    fig.set_size_inches(18,6)

    min_ = ts_seasonal.idxmin()
    max_ = ts_seasonal.idxmax()
    max_2 = ts_seasonal.loc[min_:].idxmax()
    min_2 = ts_seasonal.loc[max_2:].idxmin()


    ax.axvline(min_, label=min_, c='orange')
    ax.axvline(max_, c='orange', ls=':')
    ax.axvline(min_2, c='orange')
    ax.axvline(max_2, c='orange', ls=':')

    period = min_2 - min_ 
    ax.set_title(f'Season Length = {period}')
    
    return fig, ax

# Seasonality isn't much of a factor... maybe 0.1% in recent years from the lowest point in the year to the highest

In [ ]:
plot_seasonal_decomp(ts)

# Step 4:  ARIMA Modeling

In [ ]:
print(type(ts))
ts.head()  # check ts; should be a series with time as index and values

## Creating p, d, q, and m values for running ARIMA model

In [ ]:
import itertools

p_range = [0, 1, 2, 4, 8, 10]
q_range = range(0, 3)
d_range = range(1, 3)
m_range = (0, 6, 12)

pdq = list(itertools.product(p_range, d_range, q_range))
print(pdq)
print()
PDQM = list(itertools.product(p_range, d_range, q_range, m_range))
print(PDQM[:20])

In [ ]:
def make_pdq_pdqm(p_range=(0,4), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12)):
    import itertools
    p_values =range(p_range[0],p_range[1])
    d_values =range(d_range[0],d_range[1])
    q_values =range(q_range[0],q_range[1])
    
    params = {}
    params['pdq'] = list(itertools.product(p_values, d_values, q_values))
    
    if make_seasonal:
        params['PDQm'] = list(itertools.product(p_values, d_values, q_values, m_values))
    return params

params = make_pdq_pdqm()
print(params.keys())
print(params['pdq'][:20])
params['PDQm'][:20]

## Setting up functions for running ARIMA models

In [ ]:
ts = df_melt['value'].loc[df_melt['Zip'] == '95616']

In [ ]:
ts.head()

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error

In [ ]:
def arima_predict_error(X, arima_order):
    train_size = int(len(X) * .85)
    train, test = X[0:train_size], X[train_size:]
    predictions = list()
    history = [x for x in train]
    for t in range(len(test)):
        model = ARIMA(history, order = arima_order)
        model_fit = model.fit(disp=0)
        y_hat = model_fit.forecast()[0]
        predictions.append(y_hat)
        history.append(test[t])
    error = mean_squared_error(test, predictions)
    return error

def eval_arima_models(data, p_values, d_values, q_values):
    data = data.astype('float32')
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    mse = arima_predict_error(data, order)
                    if mse < best_score:
                        best_score, best_cfg = mse, order
                    print('ARIMA%s MSE=%.3f' % (order,mse))
                except:
                    continue
    print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))

## Function to find best p,d,q parameters for ARIMA model

In [ ]:
# evaluate parameters
p_values = [0, 1, 2, 4, 8, 10]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
# eval_arima_models(ts.values, p_values, d_values, q_values)

# Step 5: Interpreting Results

## Create ARIMA model and show summary results table

In [ ]:
# Define function

def arima_zipcode(ts, order=None):
    model = ARIMA(ts.values, order = order)
    model_fit = model.fit(disp=0)
    print(model_fit.summary())
    return model_fit

In [ ]:
model_fit_davis = arima_zipcode(ts, order = (1,1,1))

In [ ]:
model_fit_davis

## Create forecast model

In [ ]:
# Define function

def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint   # note that this leaves behind the middle range of numbers in the forecast result

In [ ]:
actual_forecast, std_error, forecast_confint = forecast(model_fit_davis)

In [ ]:
actual_forecast, std_error, forecast_confint  # note standard error balloons the 
                                              # further into the future we go

In [ ]:
forecast = model_fit_davis.forecast(24)

In [ ]:
forecast

## Create dataframe to hold these values and join to existing dataframe

In [ ]:
# Define function

def forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint):
    df_forecast = pd.DataFrame({col: daterange})
    df_forecast['forecast'] = actual_forecast
    df_forecast['forecast_lower'] = forecast_confint[:, 0]
    df_forecast['forecast_upper'] = forecast_confint[:, 1]
    df_forecast.set_index('time', inplace=True)
    return df_forecast

In [ ]:
df_forecast = forecast_df()

## Create df_new with historical and forecasted values

In [ ]:
ts.head()

In [ ]:
def concat_values_forecast(ts, df_forecast):
    df_new = pd.concat([ts, df_forecast])
    df_new = df_new.rename(columns = {0: 'value'})
    return df_new

In [ ]:
df_new = concat_values_forecast(ts, df_forecast)

In [ ]:
df_new

In [ ]:
df_new.head()

In [ ]:
df_new.tail()

## Plot forecast results

In [ ]:
# Define function

def plot_forecast(df = df_new, figsize=(12,8), geog='95616'):
    fig = plt.figure(figsize=figsize)
    plt.plot(df_new['value'], label='Raw Data')
    plt.plot(df_new['forecast'], label='Forecast')
    plt.fill_between(df_new.index, df_new['forecast_lower'], df_new['forecast_upper'], color='k', alpha = 0.2, 
                 label='Confidence Interval')
    plt.legend(loc = 'upper left')
    plt.title(f'Forecast for {geog}')

In [ ]:
plot_forecast()

## Figure out percent change in home values

In [ ]:
# Define functions

def forecast_values(df = df_new, date = '2020-04-01'):
    forecasted_price = df.loc['2020-04-01', 'forecast']
    forecasted_lower = df.loc['2020-04-01', 'forecast_lower']
    forecasted_upper = df.loc['2020-04-01', 'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper = forecast_values()

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper

In [ ]:
def last_value(df = df_new, date = '2018-04-01'):
    last_value = df.loc[date, 'value']
    return last_value

In [ ]:
last_value = last_value()

In [ ]:
last_value

## Compute and print predicted, best, and worst case scenarios

In [ ]:
# Define function

def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
    pred_pct_change = (((pred - last) / last) * 100)
    print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
    lower_pct_change = ((low - last) / last) * 100
    print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
    upper_pct_change = ((high - last) / last) * 100
    print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')

In [ ]:
pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

# Dallas-Fort Worth TX Metro Area:  FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## Dallas-Fort Worth TX

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = 'Dallas-Fort Worth TX'

### Create dataframe containing values for just this geographic unit

In [ ]:
# df_geog = df_geog(df=df_metro_cities, col = 'MetroState', geog = 'New York NY')

# If using a different geographic unit, such as city or metro area, change 'Zip' column accordingly
# ts = df_metro_values.loc[df_metro_values['MetroState'] == geog_area]  # ts for all of the following functions should have only one zipcode
# ts.head()

ts_dallas = df_metro_values.loc[df_metro_values['MetroState'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_dallas.head()

In [ ]:
# ts.head()

ts_dallas.head()

In [ ]:
# ts = ts.value

ts_dallas_values = ts_dallas.value

In [ ]:
# ts.head()

ts_dallas_values.head()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

#### plot_ts_metros:  Plot values by Metro area

In [ ]:
# fig, ax = plot_ts_metros(df, metros, col='value', x = (18, 80), nrows = 15, ncols = 2, legend=True, set_ylim = True, ylim = 1500000)
# select dataframe that has grouped values by METRO area, and metro area list

# fig, ax = plot_ts_metros(df_metro_values, large_metro_list_30, col='value', x = (18, 40), nrows = 15, ncols = 2, set_ylim = False, ylim = 1500000)

####  plot_ts_metro_cities:  Plot values by Metro area AND city

In [ ]:
# select dataframe that has grouped values by METRO area and CITY 

# fig, ax = plot_ts_metro_cities(df, metro_cities, col='value', x = (18, 80), 
#                          nrows=20, ncols=2, legend=False, set_ylim=False, ylim = 1400000)

####  plot_ts_cities:  Plot values by *CITY* in a Metro area

##### First, create cities df for that metro area, and a list of cities for just that metro area

In [ ]:
df_metro_cities.head(3)

In [ ]:
ts_dallas_cities = df_metro_cities.loc[df_metro_cities['MetroState'] == geog_area]

In [ ]:
ts_dallas_cities.head(3)

In [ ]:
dallas_cities = list(set(ts_dallas_cities.City))
dallas_cities.sort()
print(dallas_cities)   # check to see that function was successful

In [ ]:
len(dallas_cities)

##### Plot function

In [ ]:
# fig, ax = plot_ts_cities(df, cities, col='value', x = (18, 100), nrows=30, ncols=2, 
#                    legend=True, set_ylim = False, ylim = 1400000)

# fig, ax = plot_ts_cities(ts_dallas_cities, dallas_cities, col='value', x = (18, 100), nrows=30, ncols=2)

#### Function to plot individual zip codes within a city

In [ ]:
# plot_ts_zips(df, zipcodes, col='value', x = (18, 40), nrows=15, ncols=2, 
#                  legend=True, set_ylim = False, ylim = 800000)

# fig, ax = plot_ts_zips(df_sacto_city_zips, sacto_zips, x = (18, 60))

#### Function to plot zip codes by city in a metro area

In [ ]:
# plot_ts_zips_by_city(df, dict_zips_cities, col='value', x = (18, 100), 
#                          nrows=30, ncols=2, legend=True, set_ylim = False, ylim = 1400000)

# fig, ax = plot_ts_zips_by_city(df_sac, dict_sac_zips_cities, col='value', x = (18, 100), 
#                          nrows=30, ncols=2, legend=True, set_ylim = False, ylim = 1400000)

#### Function to plot zip codes by Metro area

In [ ]:
# fig, ax = plot_ts_metros(df, metros, col='value', x = (18, 80), nrows = 15, ncols = 2, legend=True, set_ylim = True, ylim = 1500000)

# fig, ax = plot_ts_metros(df_metro_values, large_metro_list_30, col='value', x = (18, 40), nrows = 15, ncols = 2, legend=False, set_ylim = False, ylim = 1500000)

#### Boxplot by city in a metro area

In [ ]:
# note--check for SizeRank column and drop if needed

fig = plt.figure(figsize=(18, 60))

for i, city in enumerate(dallas_cities, start=1):
    ax = fig.add_subplot(13,8,i)
    ts_dallas_cities.loc[ts_dallas_cities['City'] == city].boxplot(ax = ax)
    ax.set_title(f'{city}')
    fig.tight_layout()

#### Boxplot of zip codes by city in a metro area

In [ ]:
# note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

#### Violin plots over time (example)

##### Violin plot for Sacramento city zip codes

In [ ]:
import seaborn as sns

In [ ]:
ts_dallas_cities = ts_dallas_cities.sort_values(by=['City', 'time'])
ts_dallas_cities.City.unique()

In [ ]:
# got figure size modification example from https://exceptionshub.com/how-do-i-change-the-figure-size-for-a-seaborn-plot.html

# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_44, scale="count", inner="stick", ax=ax)

fig, ax = plt.subplots()
fig.set_size_inches(16, 6)
fig.tight_layout()
sns.violinplot(x="City", y="value", data=ts_dallas_cities, scale="width", inner="quartile", ax=ax)

In [ ]:
# df[df['Year'] < 2014][df['Color' == 'Red'][['Product','Color']]

cities_over_200k = []

for city in dallas_cities:
    x = ts_dallas_cities['value'].loc[ts_dallas_cities['City'] == city]
    if x.min() > 200000:
        print(city, x.min())
        cities_over_200k.append(city)

cities_over_200k

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# fig.tight_layout()
# sns.violinplot(x="City", y="value", data=ts_dallas_cities, scale="width", inner="quartile", ax=ax)

In [ ]:
# df_sac_city_1996_1999 = df_sac_city.loc['1996-04-01':'1999-12-01']
# df_sac_city_1996_1999.tail()

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_sac_city_1996_1999, scale="width", inner="quartile", ax=ax)

In [ ]:
# df_sac_city_2000_2003 = df_sac_city.loc['2000-01-01':'2003-12-01']
# df_sac_city_2000_2003.head()

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_sac_city_2000_2003, scale="width", inner="quartile", ax=ax)

In [ ]:
# df_sac_city_2004_2006 = df_sac_city.loc['2004-01-01':'2006-12-01']
# df_sac_city_2004_2006.head()

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_sac_city_2004_2006, scale="width", inner="quartile", ax=ax)

In [ ]:
# df_sac_city_2007_2012 = df_sac_city.loc['2007-01-01':'2012-12-01']
# df_sac_city_2007_2012.head()

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_sac_city_2007_2012, scale="width", inner="quartile", ax=ax)

In [ ]:
# df_sac_city_2013_2018 = df_sac_city.loc['2013-01-01':'2018']
# df_sac_city_2013_2018.tail()

In [ ]:
# fig, ax = plt.subplots()
# fig.set_size_inches(16, 6)
# sns.violinplot(x="Zip", y="value", data=df_sac_city_2013_2018, scale="width", inner="quartile", ax=ax)

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# note that ts must only contain values and time as index

# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_dallas_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_dallas_values)

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

# eval_arima_models(ts_dallas_values, p_values, d_values, q_values)  # don't run this until you have some time, since it take time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

model_fit_dallas = arima_zipcode(ts_dallas_values, order = (8,2,0))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_dallas)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_dallas_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values()

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='Dallas-Ft Worth TX')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

# SacMetro: 95619 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95619 (Diamond Springs)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95619'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95619 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95619.head()

In [ ]:
# ts.head()

ts_95619.head()

In [ ]:
# ts = ts.value

ts_95619_values = ts_95619.value

In [ ]:
# ts.head()

ts_95619_values.head()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95619'])  # enter desired zip code(s)

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95619.boxplot(column = 'value')
plt.title('95619');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95619_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95619_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

# eval_arima_models(ts_95619_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(2, 1, 2) MSE=1084744.932

model_fit_95619 = arima_zipcode(ts_95619_values, order = (2,1,2))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95619)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95619_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values()

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95619')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Recommendation--Zip code 95619:  potential investment candidate

By the model prediction, I would expect to see a 10.799% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -14.266% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 35.863% change in price by April 1, 2020

# SacMetro: 95864 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95864 (Arden-Arcade)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95864'

### Create dataframe containing values for just this geographic unit

In [ ]:
# df_geog = df_geog(df=df_metro_cities, col = 'MetroState', geog = 'New York NY')

# If using a different geographic unit, such as city or metro area, change 'Zip' column accordingly
# ts = df_metro_values.loc[df_metro_values['MetroState'] == geog_area]  # ts for all of the following functions should have only one zipcode
# ts.head()

ts_95864 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95864.head()

In [ ]:
# ts.head()

ts.head()

In [ ]:
# ts = ts.value

ts_95864_values = ts.value

In [ ]:
# ts.head()

ts_95864_values.head()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95864'])  # enter desired zip code(s)

#### Boxplot of zip codes by city in a metro area

In [ ]:
# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95864.boxplot(column = 'value')
plt.title('95864');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# note that ts must only contain values and time as index

# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95864_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95864_values)

## ARIMA model parameters and optimization

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

# eval_arima_models(ts_95864_values, p_values, d_values, q_values)  # don't run this until you have some time, since it take time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(4, 1, 1) MSE=1137443.820

model_fit_95864 = arima_zipcode(ts_95864_values, order = (4,1,1))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit_95864, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95864_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values()

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Recommendation for ZIP code 95864:  Don't invest

By the model prediction, I would expect to see a -4.669% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -26.572% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 17.233% change in price by April 1, 2020

# SacMetro:  95831 -- FUNCTIONS to run for each geographic area

## Create ts dataframe for *single* geographic area

## SacMetro:  95831 (Sacramento)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95831'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95831 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95831.head()

In [ ]:
# ts.head()

ts_95831.head()

In [ ]:
# ts = ts.value

ts_95831_values = ts_95831.value

In [ ]:
# ts.head()

ts_95831_values.head()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95831'])  # enter desired zip code(s)

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95831.boxplot(column = 'value')
plt.title('95831');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95831_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95831_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95831_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(6, 0, 2) MSE=955633.913

model_fit_95831 = arima_zipcode(ts_95831_values, order = (6,0,2))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95831)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95831_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values()

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95619')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

### Zip code 95831:  don't invest; lots of downside risk

By the model prediction, I would expect to see a -13.413% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -32.77% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 5.945% change in price by April 1, 2020

# SacMetro:  96142 -- FUNCTIONS to run for each geographic area

## Create ts dataframe for *single* geographic area

## SacMetro:  96142 (Tahoma)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '96142'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_96142 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_96142.head()

In [ ]:
# ts.head()

ts_96142.head()

In [ ]:
# ts = ts.value

ts_96142_values = ts_96142.value

In [ ]:
# ts.head()

ts_96142_values.head()

In [ ]:
ts_96142_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['96142'])  # enter desired zip code(s)

In [ ]:
ts_96142

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_96142.boxplot(column = 'value')
plt.title('96142');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_96142_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_96142_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_96142_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(6, 0, 2) MSE=955633.913

model_fit_96142 = arima_zipcode(ts_96142_values, order = (6,0,2))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_96142)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_96142_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='96142')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

### Zip code 96142:  Potentially solid gains, with possibly large upside or downside

By the model prediction, I would expect to see a 5.558% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -21.275% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 32.391% change in price by April 1, 2020

# SacMetro:  95811 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95811 (Sacramento)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95811'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95811 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95811.head()

In [ ]:
# ts.head()

ts_95811.head()

In [ ]:
# ts = ts.value

ts_95811_values = ts_95811.value

In [ ]:
# ts.head()

ts_95811_values.head()

In [ ]:
ts_95811_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95811'], figsize=(12,5))  # enter desired zip code(s)

In [ ]:
ts_95811

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95811.boxplot(column = 'value')
plt.title('95811');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95811_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95811_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95811_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(4, 1, 2) MSE=3195605.437

model_fit_95811 = arima_zipcode(ts_95811_values, order = (4,1,2))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95811)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95811_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95811')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

### Zip code 95811:  Don't invest--mediocre predicted returns with significant potential downside (but also significant potential upside)

By the model prediction, I would expect to see a 2.254% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -17.073% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 21.582% change in price by April 1, 2020

# SacMetro:  95818 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95818 (Sacramento)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95818'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95818 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95818.head()

In [ ]:
# ts.head()

ts_95818.head()

In [ ]:
# ts = ts.value

ts_95818_values = ts_95818.value

In [ ]:
# ts.head()

ts_95818_values.head()

In [ ]:
ts_95818_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95818'], figsize=(12,6))  # enter desired zip code(s)

In [ ]:
ts_95818

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95818.boxplot(column = 'value')
plt.title('95818');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95818_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95818_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95818_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(6, 2, 2) MSE=2089095.204

model_fit_95818 = arima_zipcode(ts_95818_values, order = (6,2,2))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95818)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95818_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95818')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Zip code 95818:  Do not invest--negative predicted return

By the model prediction, I would expect to see a -0.978% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -25.772% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 23.816% change in price by April 1, 2020

# SacMetro:  95630 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95630 (Folsom)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95630'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95630 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95630.head()

In [ ]:
# ts.head()

ts_95630.head()

In [ ]:
# ts = ts.value

ts_95630_values = ts_95630.value

In [ ]:
# ts.head()

ts_95630_values.head()

In [ ]:
ts_95630_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95630'], figsize=(12,6))  # enter desired zip code(s)

In [ ]:
ts_95630

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95630.boxplot(column = 'value')
plt.title('95630');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95630_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95630_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95630_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(2, 2, 0) MSE=1373937.757

model_fit_95630 = arima_zipcode(ts_95630_values, order = (2,2,0))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95630)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95630_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95630')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Zip code 95630:  Mediocre earning potential, significant downside risk (but equally possible upside risk)

By the model prediction, I would expect to see a 0.538% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -21.171% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 22.247% change in price by April 1, 2020

# SacMetro:  96140 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  96140 (Carnelian Bay)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '96140'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_96140 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_96140.head()

In [ ]:
# ts.head()

ts_96140.head()

In [ ]:
# ts = ts.value

ts_96140_values = ts_96140.value

In [ ]:
# ts.head()

ts_96140_values.head()

In [ ]:
ts_96140_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['96140'], figsize=(12,6))  # enter desired zip code(s)

In [ ]:
ts_96140

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_96140.boxplot(column = 'value')
plt.title('96140:  Carnelian Bay');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_96140_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_96140_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_96140_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(4, 2, 1) MSE=3386317.647

model_fit_96140 = arima_zipcode(ts_96140_values, order = (2,2,0))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_96140)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_96140_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='96140:  Carnelian Bay')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Zip code 96140

By the model prediction, I would expect to see a 16.548% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -33.909% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 67.005% change in price by April 1, 2020

# SacMetro:  95672 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95672 (Rescue)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95672'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95672 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95672.head()

In [ ]:
# ts.head()

ts_95672.head()

In [ ]:
# ts = ts.value

ts_95672_values = ts_95672.value

In [ ]:
# ts.head()

ts_95672_values.head()

In [ ]:
ts_95672_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95672'], figsize=(12,6))  # enter desired zip code(s)

In [ ]:
ts_95672

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95672.boxplot(column = 'value')
plt.title('95672');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95672_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95672_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95672_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(8, 2, 0) MSE=3175806.269

model_fit_95672 = arima_zipcode(ts_95672_values, order = (8,2,0))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95672)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95672_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95672')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Zip code 95672

By the model prediction, I would expect to see a 32.296% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -2.975% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 67.567% change in price by April 1, 2020

# SacMetro:  95636 -- FUNCTIONS to run

## Create ts dataframe for *single* geographic area

## SacMetro:  95636 (Somerset)

In [ ]:
# print(sorted(metro_state_list))

In [ ]:
geog_area = '95636'

### Create dataframe containing values for just this geographic unit

In [ ]:
ts_95636 = df_sac.loc[df_sac['Zip'] == geog_area]  # ts for all of the following functions should have only one zipcode
ts_95636.head()

In [ ]:
# ts.head()

ts_95636.head()

In [ ]:
# ts = ts.value

ts_95636_values = ts_95636.value

In [ ]:
# ts.head()

ts_95636_values.head()

In [ ]:
ts_95636_values.tail()

### Visualizations

#### plot_ts:  Plot zip code(s) of interest over time, with market highs and lows

In [ ]:
# fig, ax = plot_ts(df_melt, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])  # enter desired zip code(s)

fig, ax = plot_ts(df_melt, zipcodes=['95636'], figsize=(12,6))  # enter desired zip code(s)

In [ ]:
ts_95636

#### Boxplot of zip code

In [ ]:
# # note--check for SizeRank column and drop if needed

# fig = plt.figure(figsize=(18, 30))

# for i, zc in enumerate(sac_metro_zips[:48], start=1):
#     ax = fig.add_subplot(8,6,i)
#     ts = df_sac.loc[df_sac['Zip'] == zc]
#     ts.boxplot(column = 'value', ax = ax)
#     ax.set_title(f'{zc}')
#     fig.tight_layout()

ts_95636.boxplot(column = 'value')
plt.title('95636');

### Plot ACF and PACF for ts dataframe

In [ ]:
import warnings
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from  statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from pandas.plotting import autocorrelation_plot,lag_plot

In [ ]:
# plot_acf_pacf(ts, figsize=(10,6), lags=15)  # note that ts must only contain values and time as index

plot_acf_pacf(ts_95636_values, figsize=(10,6), lags=15)

### Plot seasonal decomposition for ts dataframe

In [ ]:
# plot_seasonal_decomp(ts)

plot_seasonal_decomp(ts_95636_values)

# Seasonality does not appear to be a significant factor in this zip code.

## ARIMA model parameters and optimization

### Generate list of (p,d,q) and (p,d,q,m) values

In [ ]:
params = make_pdq_pdqm(p_range=(0,10), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12))
print(params['pdq'])

### Run ARIMA model on ts dataframe with list of p,d,q values

In [ ]:
p_values = [0, 1, 2, 4, 6, 8]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")

In [ ]:
# eval_arima_models(ts, p_values, d_values, q_values)  # don't run this until you have some time, since it take time
# note that ts must only contain values and time as index

eval_arima_models(ts_95636_values, p_values, d_values, q_values)  # don't run this until you have some time, since it takes time

### Generate model fit summary

In [ ]:
# model_fit = arima_zipcode(ts, order = None)   # change order = tuple to correspond to the best MSE produced by previous function

# Best ARIMA(8, 2, 1) MSE=1389280.792

model_fit_95636 = arima_zipcode(ts_95636_values, order = (8,2,1))

## ARIMA modeling results:  predictions and visualization

### Produce forecasts from ARIMA model fit

In [ ]:
def forecast(model_fit, months=24, confint=2):
    forecast = model_fit.forecast(months)
    actual_forecast = forecast[0]
    std_error = forecast[1]
    forecast_confint = forecast[confint]
    return actual_forecast, std_error, forecast_confint  

# actual_forecast, forecast_confint = forecast(model_fit, months=24, confint=2)

actual_forecast, std_error, forecast_confint = forecast(model_fit_95636)

# actual_forecast, forecast_confint = forecast(model_fit_dallas, months=24, confint=2)

In [ ]:
actual_forecast, std_error, forecast_confint

### Create dataframe to hold forecast results

In [ ]:
# df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
#                 actual_forecast=actual_forecast, forecast_confint = forecast_confint)

df_forecast = forecast_df(col = 'time', daterange = pd.date_range(start='2018-05-01', end='2020-04-01', freq='MS'), 
                actual_forecast=actual_forecast, forecast_confint = forecast_confint)

### Create new dataframe concatenating historic values and forecast results

In [ ]:
# df_new = concat_values_forecast(ts, df_forecast)

df_new = concat_values_forecast(ts_95636_values, df_forecast)

In [ ]:
df_new

### Calculate predicted, lower bound, and upper bound forecasted prices

In [ ]:
def forecast_values(df=df_new, date = '2020-04-01'):
    forecasted_price = df.loc[date, 'forecast']
    forecasted_lower = df.loc[date, 'forecast_lower']
    forecasted_upper = df.loc[date,  'forecast_upper']    
    return forecasted_price, forecasted_lower, forecasted_upper


forecasted_price, forecasted_lower, forecasted_upper = forecast_values(df_new)

In [ ]:
forecasted_price, forecasted_lower, forecasted_upper  # predicted, best-case, and worst-case prices in 2020

In [ ]:
last_value = df_new['value'].loc['2018-04-01']

In [ ]:
last_value

### Plot forecast with confidence intervals

In [ ]:
# plot_forecast(df = df_new, figsize=(12,8), geog=None)

plot_forecast(df = df_new, figsize=(12,8), geog='95636')

### Print summary of predicted, worst-case, and best-case scenarios

In [ ]:
# def pred_best_worst(pred, low, high, last, date='April 1, 2020'):
#     pred_pct_change = (((pred - last) / last) * 100)
#     print(f'By the model prediction, I would expect to see a {round(pred_pct_change, 3)}% change in price by April 1, 2020')
#     lower_pct_change = ((low - last) / last) * 100
#     print(f'At the lower bound of the confidence interval, I would expect to see a {round(lower_pct_change, 3)}% change in price by April 1, 2020')
#     upper_pct_change = ((high - last) / last) * 100
#     print(f'At the upper bound of the confidence interval, I would expect to see a {round(upper_pct_change, 3)}% change in price by April 1, 2020')
        

pred_best_worst(pred=forecasted_price, low=forecasted_lower, high=forecasted_upper, last=last_value, date='April 1, 2020')

## Zip code 95636:  Good return predicted, very large potential upside, large potential downside

By the model prediction, I would expect to see a 11.207% change in price by April 1, 2020
At the lower bound of the confidence interval, I would expect to see a -38.231% change in price by April 1, 2020
At the upper bound of the confidence interval, I would expect to see a 60.646% change in price by April 1, 2020

# Ancillary Functions

In [ ]:
# Here's the code for graphing over the dictionary

# for key in sorted(dict_zips_cities.keys()):
#     fig, ax = plt.subplots(figsize=(8, 4))
#     plt.title(f"{key}")
#     for val in dict_zips_cities[key]:
#         df_sac[df_sac['Zip'] == val].plot(ax = ax)
#         ax.legend(dict_zips_cities[key], ncol=3)